.map {
width:100%;
height:100%;
}

.map + .navbar .form-control-static {
min-height: .8em;
padding-top: 0;
padding-bottom: 0;
}

.map + .navbar .form-group {
margin-bottom: 0;
}

/* ===[ Controls positions ]=== */
/*
.ol-full-screen {
top: 2.75em;
right: .5em;
left:auto;
}

.ol-zoom {
top: 5em;
right: .5em;
left:auto;
}

.ol-zoom-extent {
top: 9em;
right: .5em;
left:auto;
}

.ol-overviewmap {
bottom: .8em;
right: auto;
left:.5em;
}
*/
.ol-scale-line{
left:3em;
}

.ol-rotate {
top: 5em;
right: .5em;
left:auto;
}

.layer-switcher {
top:2.75em;
right:.5em;
min-width: 2em;
}

/* ===[ Bootstrap style adaptation ]=== */
.layer-switcher button,
.ol-control button {
color: $btn-default-color;
background-color: $btn-default-bg;
}

.layer-switcher button:hover,
.ol-control button:hover {
background-color: darken($btn-default-bg, 3%);
}

/* ===[ ]=== */
.layer-switcher .panel {
display: none;
margin:2px;
padding-right: 50px;
overflow:hidden;
max-height:98%;
}

.layer-switcher.shown .panel {
display: block;
}

.layer-switcher ul {
padding-left: 1em;
list-style: none;
}

.layer-switcher button{
position:relative;
float: right;
margin-left: -1.375em;
}

.layer-switcher button:after{
background-image:none;
font-family: 'Glyphicons Halflings';
content: "\e105";
line-height: .6em;
}

.layer-switcher .panel > ul > li {
float: left;
}

.layer-switcher input + label{
font-weight: normal;
font-size: .8em;
margin-left:.5em;
vertical-align: middle;
}

/* Jasny offcanvas */

/*
#map-navbar .navbar-toggle {
float: left;
margin-left: 15px;
opacity:.25;
}

@media (min-width: 0) {
#map-navbar .navbar-toggle {
display: block;
}

}

@media (min-width: 992px) {
body {
padding: 0;
}

#map-navbar {
right: auto;
background: none;
border: none;
}

}

.navmenu-fixed-right {
left: auto !important;
}
*/

.map + .progress {
position: relative;
height: 4px;
margin-top: -4px;
margin-bottom: 0;
}

// Stacked icon tabs in off-canvas 
/*
.navmenu-fixed-right .nav-stacked {
margin-left:-3em;
float:left;
background-color:$well-bg;
}

.offcanvas {
overflow:visible;
}
*/

#map-tooltip {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}

// Map tooltip under bootstrap modal
.map .tooltip {
position:absolute;
z-index: 1000;
}

.map .popup{
position:absolute;
}

.ol-glyphicon {
  //position: relative;
  //top: 1px;
  //display: inline-block;
  font-family: 'Glyphicons Halflings';
  //font-style: normal;
  //font-weight: normal;
  //line-height: 1;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}