<div class="container">
  <!--
    <div class="page-header" data-stellar-background-ratio="0.5">
      <h2><i class="glyphicon glyphicon-heart"></i> <span data-i18n="contribution.header.title"></span>&nbsp;</h2>
      <p data-i18n="[html]contribution.header.info" data-scroll-reveal="enter from the bottom after 1s"></p>
    </div>
    -->
  <div class="row">
    <div class="col-md-4 text-center" id="share" data-anchor="share-alt" data-scroll-reveal="enter right and move 50px over 1.33s">
      <div class="container-fluid">
        <i class="glyphicon glyphicon-share glyphicon-3x"></i>
        <h2 data-i18n="contribution.share.title">&nbsp;</h2>
        <p data-i18n="contribution.share.info"></p>
        <div class="addthis_sharing_toolbox"></div>
      </div>
    </div>
    <div class="col-md-4 text-center -pull-right -text-right" id="translation" data-anchor="translation" data-scroll-reveal="enter left and move 50px over 1.33s">
      <div>
        <div class="container-fluid">
          <i class="glyphicon glyphicon-pencil glyphicon-3x"></i>
          <h2 data-i18n="contribution.translation.title">&nbsp;</h2>
          <p data-i18n="[html]contribution.translation.info"></p>
          <p>
            <a class="btn btn-primary shrink" role="button" href="vendors/i18next/" target="_blank"><i class="glyphicon glyphicon-edit"></i> <span data-i18n="contribution.translation.button"></span></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" id="donate" data-anchor="donate" data-scroll-reveal="enter right and move 50px over 1.33s">
      <div class="container-fluid">
        <i class="glyphicon glyphicon-euro glyphicon-3x"></i>
        <h2 data-i18n="contribution.donate.title">&nbsp;</h2>
        <p data-i18n="contribution.donate.content"></p>
        <div class="row">
          <div class="col-md-6">
            <form action="/charge" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                data-amount="500"
                data-currency="EUR"
                data-label="5€ donation"
                data-image-="images/favicon_60x60.png"
                data-name="Destination Finder"
                data-description="5€ donation with card"
                data-panel-label="Donate"
                ></script>
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="9QRB7VQMVKKC2">
              <input type="image" src="https://www.paypalobjects.com/en_US/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>