
.background-fr-v:before,
.background-FRA-v:before {
background-image: url(http://mrg.bz/x0Vx2J);
}

.background-es-v:before,
.background-ESP-v:before {
background-image: url(http://mrg.bz/1dNDGs);
}

.background-us-v:before,
.background-USA-v:before {
background-image: url(http://mrg.bz/WoGeRB);
}

.background-cn-v:before,
.background-CHN-v:before {
background-image: url(http://mrg.bz/tAmFQe);
}


.flag-bg.ABW-flag:before,
.flag-bg.abw-flag:before {
  background-image:url(../images/flags/abw.svg);
}
.flag-bg.AFG-flag:before,
.flag-bg.afg-flag:before {
  background-image:url(../images/flags/afg.svg);
}
.flag-bg.AGO-flag:before,
.flag-bg.ago-flag:before {
  background-image:url(../images/flags/ago.svg);
}
.flag-bg.AIA-flag:before,
.flag-bg.aia-flag:before {
  background-image:url(../images/flags/aia.svg);
}
.flag-bg.ALA-flag:before,
.flag-bg.ala-flag:before {
  background-image:url(../images/flags/ala.svg);
}
.flag-bg.ALB-flag:before,
.flag-bg.alb-flag:before {
  background-image:url(../images/flags/alb.svg);
}
.flag-bg.AND-flag:before,
.flag-bg.and-flag:before {
  background-image:url(../images/flags/and.svg);
}
.flag-bg.ARE-flag:before,
.flag-bg.are-flag:before {
  background-image:url(../images/flags/are.svg);
}
.flag-bg.ARG-flag:before,
.flag-bg.arg-flag:before {
  background-image:url(../images/flags/arg.svg);
}
.flag-bg.ARM-flag:before,
.flag-bg.arm-flag:before {
  background-image:url(../images/flags/arm.svg);
}
.flag-bg.ASM-flag:before,
.flag-bg.asm-flag:before {
  background-image:url(../images/flags/asm.svg);
}
.flag-bg.ATA-flag:before,
.flag-bg.ata-flag:before {
  background-image:url(../images/flags/ata.svg);
}
.flag-bg.ATF-flag:before,
.flag-bg.atf-flag:before {
  background-image:url(../images/flags/atf.svg);
}
.flag-bg.ATG-flag:before,
.flag-bg.atg-flag:before {
  background-image:url(../images/flags/atg.svg);
}
.flag-bg.AUS-flag:before,
.flag-bg.aus-flag:before {
  background-image:url(../images/flags/aus.svg);
}
.flag-bg.AUT-flag:before,
.flag-bg.aut-flag:before {
  background-image:url(../images/flags/aut.svg);
}
.flag-bg.AZE-flag:before,
.flag-bg.aze-flag:before {
  background-image:url(../images/flags/aze.svg);
}
.flag-bg.BDI-flag:before,
.flag-bg.bdi-flag:before {
  background-image:url(../images/flags/bdi.svg);
}
.flag-bg.BEL-flag:before,
.flag-bg.bel-flag:before {
  background-image:url(../images/flags/bel.svg);
}
.flag-bg.BEN-flag:before,
.flag-bg.ben-flag:before {
  background-image:url(../images/flags/ben.svg);
}
.flag-bg.BES-flag:before,
.flag-bg.bes-flag:before {
  background-image:url(../images/flags/bes.svg);
}
.flag-bg.BFA-flag:before,
.flag-bg.bfa-flag:before {
  background-image:url(../images/flags/bfa.svg);
}
.flag-bg.BGD-flag:before,
.flag-bg.bgd-flag:before {
  background-image:url(../images/flags/bgd.svg);
}
.flag-bg.BGR-flag:before,
.flag-bg.bgr-flag:before {
  background-image:url(../images/flags/bgr.svg);
}
.flag-bg.BHR-flag:before,
.flag-bg.bhr-flag:before {
  background-image:url(../images/flags/bhr.svg);
}
.flag-bg.BHS-flag:before,
.flag-bg.bhs-flag:before {
  background-image:url(../images/flags/bhs.svg);
}
.flag-bg.BIH-flag:before,
.flag-bg.bih-flag:before {
  background-image:url(../images/flags/bih.svg);
}
.flag-bg.BLM-flag:before,
.flag-bg.blm-flag:before {
  background-image:url(../images/flags/blm.svg);
}
.flag-bg.BLR-flag:before,
.flag-bg.blr-flag:before {
  background-image:url(../images/flags/blr.svg);
}
.flag-bg.BLZ-flag:before,
.flag-bg.blz-flag:before {
  background-image:url(../images/flags/blz.svg);
}
.flag-bg.BMU-flag:before,
.flag-bg.bmu-flag:before {
  background-image:url(../images/flags/bmu.svg);
}
.flag-bg.BOL-flag:before,
.flag-bg.bol-flag:before {
  background-image:url(../images/flags/bol.svg);
}
.flag-bg.BRA-flag:before,
.flag-bg.bra-flag:before {
  background-image:url(../images/flags/bra.svg);
}
.flag-bg.BRB-flag:before,
.flag-bg.brb-flag:before {
  background-image:url(../images/flags/brb.svg);
}
.flag-bg.BRN-flag:before,
.flag-bg.brn-flag:before {
  background-image:url(../images/flags/brn.svg);
}
.flag-bg.BTN-flag:before,
.flag-bg.btn-flag:before {
  background-image:url(../images/flags/btn.svg);
}
.flag-bg.BVT-flag:before,
.flag-bg.bvt-flag:before {
  background-image:url(../images/flags/bvt.svg);
}
.flag-bg.BWA-flag:before,
.flag-bg.bwa-flag:before {
  background-image:url(../images/flags/bwa.svg);
}
.flag-bg.CAF-flag:before,
.flag-bg.caf-flag:before {
  background-image:url(../images/flags/caf.svg);
}
.flag-bg.CAN-flag:before,
.flag-bg.can-flag:before {
  background-image:url(../images/flags/can.svg);
}
.flag-bg.CCK-flag:before,
.flag-bg.cck-flag:before {
  background-image:url(../images/flags/cck.svg);
}
.flag-bg.CHE-flag:before,
.flag-bg.che-flag:before {
  background-image:url(../images/flags/che.svg);
}
.flag-bg.CHL-flag:before,
.flag-bg.chl-flag:before {
  background-image:url(../images/flags/chl.svg);
}
.flag-bg.CHN-flag:before,
.flag-bg.chn-flag:before {
  background-image:url(../images/flags/chn.svg);
}
.flag-bg.CIV-flag:before,
.flag-bg.civ-flag:before {
  background-image:url(../images/flags/civ.svg);
}
.flag-bg.CMR-flag:before,
.flag-bg.cmr-flag:before {
  background-image:url(../images/flags/cmr.svg);
}
.flag-bg.COD-flag:before,
.flag-bg.cod-flag:before {
  background-image:url(../images/flags/cod.svg);
}
.flag-bg.COG-flag:before,
.flag-bg.cog-flag:before {
  background-image:url(../images/flags/cog.svg);
}
.flag-bg.COK-flag:before,
.flag-bg.cok-flag:before {
  background-image:url(../images/flags/cok.svg);
}
.flag-bg.COL-flag:before,
.flag-bg.col-flag:before {
  background-image:url(../images/flags/col.svg);
}
.flag-bg.COM-flag:before,
.flag-bg.com-flag:before {
  background-image:url(../images/flags/com.svg);
}
.flag-bg.CPV-flag:before,
.flag-bg.cpv-flag:before {
  background-image:url(../images/flags/cpv.svg);
}
.flag-bg.CRI-flag:before,
.flag-bg.cri-flag:before {
  background-image:url(../images/flags/cri.svg);
}
.flag-bg.CUB-flag:before,
.flag-bg.cub-flag:before {
  background-image:url(../images/flags/cub.svg);
}
.flag-bg.CUW-flag:before,
.flag-bg.cuw-flag:before {
  background-image:url(../images/flags/cuw.svg);
}
.flag-bg.CXR-flag:before,
.flag-bg.cxr-flag:before {
  background-image:url(../images/flags/cxr.svg);
}
.flag-bg.CYM-flag:before,
.flag-bg.cym-flag:before {
  background-image:url(../images/flags/cym.svg);
}
.flag-bg.CYP-flag:before,
.flag-bg.cyp-flag:before {
  background-image:url(../images/flags/cyp.svg);
}
.flag-bg.CZE-flag:before,
.flag-bg.cze-flag:before {
  background-image:url(../images/flags/cze.svg);
}
.flag-bg.DEU-flag:before,
.flag-bg.deu-flag:before {
  background-image:url(../images/flags/deu.svg);
}
.flag-bg.DJI-flag:before,
.flag-bg.dji-flag:before {
  background-image:url(../images/flags/dji.svg);
}
.flag-bg.DMA-flag:before,
.flag-bg.dma-flag:before {
  background-image:url(../images/flags/dma.svg);
}
.flag-bg.DNK-flag:before,
.flag-bg.dnk-flag:before {
  background-image:url(../images/flags/dnk.svg);
}
.flag-bg.DOM-flag:before,
.flag-bg.dom-flag:before {
  background-image:url(../images/flags/dom.svg);
}
.flag-bg.DZA-flag:before,
.flag-bg.dza-flag:before {
  background-image:url(../images/flags/dza.svg);
}
.flag-bg.ECU-flag:before,
.flag-bg.ecu-flag:before {
  background-image:url(../images/flags/ecu.svg);
}
.flag-bg.EGY-flag:before,
.flag-bg.egy-flag:before {
  background-image:url(../images/flags/egy.svg);
}
.flag-bg.ERI-flag:before,
.flag-bg.eri-flag:before {
  background-image:url(../images/flags/eri.svg);
}
.flag-bg.ESH-flag:before,
.flag-bg.esh-flag:before {
  background-image:url(../images/flags/esh.svg);
}
.flag-bg.ESP-flag:before,
.flag-bg.esp-flag:before {
  background-image:url(../images/flags/esp.svg);
}
.flag-bg.EST-flag:before,
.flag-bg.est-flag:before {
  background-image:url(../images/flags/est.svg);
}
.flag-bg.ETH-flag:before,
.flag-bg.eth-flag:before {
  background-image:url(../images/flags/eth.svg);
}
.flag-bg.FIN-flag:before,
.flag-bg.fin-flag:before {
  background-image:url(../images/flags/fin.svg);
}
.flag-bg.FJI-flag:before,
.flag-bg.fji-flag:before {
  background-image:url(../images/flags/fji.svg);
}
.flag-bg.FLK-flag:before,
.flag-bg.flk-flag:before {
  background-image:url(../images/flags/flk.svg);
}
.flag-bg.FRA-flag:before,
.flag-bg.fra-flag:before {
  background-image:url(../images/flags/fra.svg);
}
.flag-bg.FRO-flag:before,
.flag-bg.fro-flag:before {
  background-image:url(../images/flags/fro.svg);
}
.flag-bg.FSM-flag:before,
.flag-bg.fsm-flag:before {
  background-image:url(../images/flags/fsm.svg);
}
.flag-bg.GAB-flag:before,
.flag-bg.gab-flag:before {
  background-image:url(../images/flags/gab.svg);
}
.flag-bg.GBR-flag:before,
.flag-bg.gbr-flag:before {
  background-image:url(../images/flags/gbr.svg);
}
.flag-bg.GEO-flag:before,
.flag-bg.geo-flag:before {
  background-image:url(../images/flags/geo.svg);
}
.flag-bg.GGY-flag:before,
.flag-bg.ggy-flag:before {
  background-image:url(../images/flags/ggy.svg);
}
.flag-bg.GHA-flag:before,
.flag-bg.gha-flag:before {
  background-image:url(../images/flags/gha.svg);
}
.flag-bg.GIB-flag:before,
.flag-bg.gib-flag:before {
  background-image:url(../images/flags/gib.svg);
}
.flag-bg.GIN-flag:before,
.flag-bg.gin-flag:before {
  background-image:url(../images/flags/gin.svg);
}
.flag-bg.GLP-flag:before,
.flag-bg.glp-flag:before {
  background-image:url(../images/flags/glp.svg);
}
.flag-bg.GMB-flag:before,
.flag-bg.gmb-flag:before {
  background-image:url(../images/flags/gmb.svg);
}
.flag-bg.GNB-flag:before,
.flag-bg.gnb-flag:before {
  background-image:url(../images/flags/gnb.svg);
}
.flag-bg.GNQ-flag:before,
.flag-bg.gnq-flag:before {
  background-image:url(../images/flags/gnq.svg);
}
.flag-bg.GRC-flag:before,
.flag-bg.grc-flag:before {
  background-image:url(../images/flags/grc.svg);
}
.flag-bg.GRD-flag:before,
.flag-bg.grd-flag:before {
  background-image:url(../images/flags/grd.svg);
}
.flag-bg.GRL-flag:before,
.flag-bg.grl-flag:before {
  background-image:url(../images/flags/grl.svg);
}
.flag-bg.GTM-flag:before,
.flag-bg.gtm-flag:before {
  background-image:url(../images/flags/gtm.svg);
}
.flag-bg.GUF-flag:before,
.flag-bg.guf-flag:before {
  background-image:url(../images/flags/guf.svg);
}
.flag-bg.GUM-flag:before,
.flag-bg.gum-flag:before {
  background-image:url(../images/flags/gum.svg);
}
.flag-bg.GUY-flag:before,
.flag-bg.guy-flag:before {
  background-image:url(../images/flags/guy.svg);
}
.flag-bg.HKG-flag:before,
.flag-bg.hkg-flag:before {
  background-image:url(../images/flags/hkg.svg);
}
.flag-bg.HMD-flag:before,
.flag-bg.hmd-flag:before {
  background-image:url(../images/flags/hmd.svg);
}
.flag-bg.HND-flag:before,
.flag-bg.hnd-flag:before {
  background-image:url(../images/flags/hnd.svg);
}
.flag-bg.HRV-flag:before,
.flag-bg.hrv-flag:before {
  background-image:url(../images/flags/hrv.svg);
}
.flag-bg.HTI-flag:before,
.flag-bg.hti-flag:before {
  background-image:url(../images/flags/hti.svg);
}
.flag-bg.HUN-flag:before,
.flag-bg.hun-flag:before {
  background-image:url(../images/flags/hun.svg);
}
.flag-bg.IDN-flag:before,
.flag-bg.idn-flag:before {
  background-image:url(../images/flags/idn.svg);
}
.flag-bg.IMN-flag:before,
.flag-bg.imn-flag:before {
  background-image:url(../images/flags/imn.svg);
}
.flag-bg.IND-flag:before,
.flag-bg.ind-flag:before {
  background-image:url(../images/flags/ind.svg);
}
.flag-bg.IOT-flag:before,
.flag-bg.iot-flag:before {
  background-image:url(../images/flags/iot.svg);
}
.flag-bg.IRL-flag:before,
.flag-bg.irl-flag:before {
  background-image:url(../images/flags/irl.svg);
}
.flag-bg.IRN-flag:before,
.flag-bg.irn-flag:before {
  background-image:url(../images/flags/irn.svg);
}
.flag-bg.IRQ-flag:before,
.flag-bg.irq-flag:before {
  background-image:url(../images/flags/irq.svg);
}
.flag-bg.ISL-flag:before,
.flag-bg.isl-flag:before {
  background-image:url(../images/flags/isl.svg);
}
.flag-bg.ISR-flag:before,
.flag-bg.isr-flag:before {
  background-image:url(../images/flags/isr.svg);
}
.flag-bg.ITA-flag:before,
.flag-bg.ita-flag:before {
  background-image:url(../images/flags/ita.svg);
}
.flag-bg.JAM-flag:before,
.flag-bg.jam-flag:before {
  background-image:url(../images/flags/jam.svg);
}
.flag-bg.JEY-flag:before,
.flag-bg.jey-flag:before {
  background-image:url(../images/flags/jey.svg);
}
.flag-bg.JOR-flag:before,
.flag-bg.jor-flag:before {
  background-image:url(../images/flags/jor.svg);
}
.flag-bg.JPN-flag:before,
.flag-bg.jpn-flag:before {
  background-image:url(../images/flags/jpn.svg);
}
.flag-bg.KAZ-flag:before,
.flag-bg.kaz-flag:before {
  background-image:url(../images/flags/kaz.svg);
}
.flag-bg.KEN-flag:before,
.flag-bg.ken-flag:before {
  background-image:url(../images/flags/ken.svg);
}
.flag-bg.KGZ-flag:before,
.flag-bg.kgz-flag:before {
  background-image:url(../images/flags/kgz.svg);
}
.flag-bg.KHM-flag:before,
.flag-bg.khm-flag:before {
  background-image:url(../images/flags/khm.svg);
}
.flag-bg.KIR-flag:before,
.flag-bg.kir-flag:before {
  background-image:url(../images/flags/kir.svg);
}
.flag-bg.KNA-flag:before,
.flag-bg.kna-flag:before {
  background-image:url(../images/flags/kna.svg);
}
.flag-bg.KOR-flag:before,
.flag-bg.kor-flag:before {
  background-image:url(../images/flags/kor.svg);
}
.flag-bg.KOS-flag:before,
.flag-bg.kos-flag:before {
  background-image:url(../images/flags/kos.svg);
}
.flag-bg.KWT-flag:before,
.flag-bg.kwt-flag:before {
  background-image:url(../images/flags/kwt.svg);
}
.flag-bg.LAO-flag:before,
.flag-bg.lao-flag:before {
  background-image:url(../images/flags/lao.svg);
}
.flag-bg.LBN-flag:before,
.flag-bg.lbn-flag:before {
  background-image:url(../images/flags/lbn.svg);
}
.flag-bg.LBR-flag:before,
.flag-bg.lbr-flag:before {
  background-image:url(../images/flags/lbr.svg);
}
.flag-bg.LBY-flag:before,
.flag-bg.lby-flag:before {
  background-image:url(../images/flags/lby.svg);
}
.flag-bg.LCA-flag:before,
.flag-bg.lca-flag:before {
  background-image:url(../images/flags/lca.svg);
}
.flag-bg.LIE-flag:before,
.flag-bg.lie-flag:before {
  background-image:url(../images/flags/lie.svg);
}
.flag-bg.LKA-flag:before,
.flag-bg.lka-flag:before {
  background-image:url(../images/flags/lka.svg);
}
.flag-bg.LSO-flag:before,
.flag-bg.lso-flag:before {
  background-image:url(../images/flags/lso.svg);
}
.flag-bg.LTU-flag:before,
.flag-bg.ltu-flag:before {
  background-image:url(../images/flags/ltu.svg);
}
.flag-bg.LUX-flag:before,
.flag-bg.lux-flag:before {
  background-image:url(../images/flags/lux.svg);
}
.flag-bg.LVA-flag:before,
.flag-bg.lva-flag:before {
  background-image:url(../images/flags/lva.svg);
}
.flag-bg.MAC-flag:before,
.flag-bg.mac-flag:before {
  background-image:url(../images/flags/mac.svg);
}
.flag-bg.MAF-flag:before,
.flag-bg.maf-flag:before {
  background-image:url(../images/flags/maf.svg);
}
.flag-bg.MAR-flag:before,
.flag-bg.mar-flag:before {
  background-image:url(../images/flags/mar.svg);
}
.flag-bg.MCO-flag:before,
.flag-bg.mco-flag:before {
  background-image:url(../images/flags/mco.svg);
}
.flag-bg.MDA-flag:before,
.flag-bg.mda-flag:before {
  background-image:url(../images/flags/mda.svg);
}
.flag-bg.MDG-flag:before,
.flag-bg.mdg-flag:before {
  background-image:url(../images/flags/mdg.svg);
}
.flag-bg.MDV-flag:before,
.flag-bg.mdv-flag:before {
  background-image:url(../images/flags/mdv.svg);
}
.flag-bg.MEX-flag:before,
.flag-bg.mex-flag:before {
  background-image:url(../images/flags/mex.svg);
}
.flag-bg.MHL-flag:before,
.flag-bg.mhl-flag:before {
  background-image:url(../images/flags/mhl.svg);
}
.flag-bg.MKD-flag:before,
.flag-bg.mkd-flag:before {
  background-image:url(../images/flags/mkd.svg);
}
.flag-bg.MLI-flag:before,
.flag-bg.mli-flag:before {
  background-image:url(../images/flags/mli.svg);
}
.flag-bg.MLT-flag:before,
.flag-bg.mlt-flag:before {
  background-image:url(../images/flags/mlt.svg);
}
.flag-bg.MMR-flag:before,
.flag-bg.mmr-flag:before {
  background-image:url(../images/flags/mmr.svg);
}
.flag-bg.MNE-flag:before,
.flag-bg.mne-flag:before {
  background-image:url(../images/flags/mne.svg);
}
.flag-bg.MNG-flag:before,
.flag-bg.mng-flag:before {
  background-image:url(../images/flags/mng.svg);
}
.flag-bg.MNP-flag:before,
.flag-bg.mnp-flag:before {
  background-image:url(../images/flags/mnp.svg);
}
.flag-bg.MOZ-flag:before,
.flag-bg.moz-flag:before {
  background-image:url(../images/flags/moz.svg);
}
.flag-bg.MRT-flag:before,
.flag-bg.mrt-flag:before {
  background-image:url(../images/flags/mrt.svg);
}
.flag-bg.MSR-flag:before,
.flag-bg.msr-flag:before {
  background-image:url(../images/flags/msr.svg);
}
.flag-bg.MTQ-flag:before,
.flag-bg.mtq-flag:before {
  background-image:url(../images/flags/mtq.svg);
}
.flag-bg.MUS-flag:before,
.flag-bg.mus-flag:before {
  background-image:url(../images/flags/mus.svg);
}
.flag-bg.MWI-flag:before,
.flag-bg.mwi-flag:before {
  background-image:url(../images/flags/mwi.svg);
}
.flag-bg.MYS-flag:before,
.flag-bg.mys-flag:before {
  background-image:url(../images/flags/mys.svg);
}
.flag-bg.MYT-flag:before,
.flag-bg.myt-flag:before {
  background-image:url(../images/flags/myt.svg);
}
.flag-bg.NAM-flag:before,
.flag-bg.nam-flag:before {
  background-image:url(../images/flags/nam.svg);
}
.flag-bg.NCL-flag:before,
.flag-bg.ncl-flag:before {
  background-image:url(../images/flags/ncl.svg);
}
.flag-bg.NER-flag:before,
.flag-bg.ner-flag:before {
  background-image:url(../images/flags/ner.svg);
}
.flag-bg.NFK-flag:before,
.flag-bg.nfk-flag:before {
  background-image:url(../images/flags/nfk.svg);
}
.flag-bg.NGA-flag:before,
.flag-bg.nga-flag:before {
  background-image:url(../images/flags/nga.svg);
}
.flag-bg.NIC-flag:before,
.flag-bg.nic-flag:before {
  background-image:url(../images/flags/nic.svg);
}
.flag-bg.NIU-flag:before,
.flag-bg.niu-flag:before {
  background-image:url(../images/flags/niu.svg);
}
.flag-bg.NLD-flag:before,
.flag-bg.nld-flag:before {
  background-image:url(../images/flags/nld.svg);
}
.flag-bg.NOR-flag:before,
.flag-bg.nor-flag:before {
  background-image:url(../images/flags/nor.svg);
}
.flag-bg.NPL-flag:before,
.flag-bg.npl-flag:before {
  background-image:url(../images/flags/npl.svg);
}
.flag-bg.NRU-flag:before,
.flag-bg.nru-flag:before {
  background-image:url(../images/flags/nru.svg);
}
.flag-bg.NZL-flag:before,
.flag-bg.nzl-flag:before {
  background-image:url(../images/flags/nzl.svg);
}
.flag-bg.OMN-flag:before,
.flag-bg.omn-flag:before {
  background-image:url(../images/flags/omn.svg);
}
.flag-bg.PAK-flag:before,
.flag-bg.pak-flag:before {
  background-image:url(../images/flags/pak.svg);
}
.flag-bg.PAN-flag:before,
.flag-bg.pan-flag:before {
  background-image:url(../images/flags/pan.svg);
}
.flag-bg.PCN-flag:before,
.flag-bg.pcn-flag:before {
  background-image:url(../images/flags/pcn.svg);
}
.flag-bg.PER-flag:before,
.flag-bg.per-flag:before {
  background-image:url(../images/flags/per.svg);
}
.flag-bg.PHL-flag:before,
.flag-bg.phl-flag:before {
  background-image:url(../images/flags/phl.svg);
}
.flag-bg.PLW-flag:before,
.flag-bg.plw-flag:before {
  background-image:url(../images/flags/plw.svg);
}
.flag-bg.PNG-flag:before,
.flag-bg.png-flag:before {
  background-image:url(../images/flags/png.svg);
}
.flag-bg.POL-flag:before,
.flag-bg.pol-flag:before {
  background-image:url(../images/flags/pol.svg);
}
.flag-bg.PRI-flag:before,
.flag-bg.pri-flag:before {
  background-image:url(../images/flags/pri.svg);
}
.flag-bg.PRK-flag:before,
.flag-bg.prk-flag:before {
  background-image:url(../images/flags/prk.svg);
}
.flag-bg.PRT-flag:before,
.flag-bg.prt-flag:before {
  background-image:url(../images/flags/prt.svg);
}
.flag-bg.PRY-flag:before,
.flag-bg.pry-flag:before {
  background-image:url(../images/flags/pry.svg);
}
.flag-bg.PSE-flag:before,
.flag-bg.pse-flag:before {
  background-image:url(../images/flags/pse.svg);
}
.flag-bg.PYF-flag:before,
.flag-bg.pyf-flag:before {
  background-image:url(../images/flags/pyf.svg);
}
.flag-bg.QAT-flag:before,
.flag-bg.qat-flag:before {
  background-image:url(../images/flags/qat.svg);
}
.flag-bg.REU-flag:before,
.flag-bg.reu-flag:before {
  background-image:url(../images/flags/reu.svg);
}
.flag-bg.ROU-flag:before,
.flag-bg.rou-flag:before {
  background-image:url(../images/flags/rou.svg);
}
.flag-bg.RUS-flag:before,
.flag-bg.rus-flag:before {
  background-image:url(../images/flags/rus.svg);
}
.flag-bg.RWA-flag:before,
.flag-bg.rwa-flag:before {
  background-image:url(../images/flags/rwa.svg);
}
.flag-bg.SAU-flag:before,
.flag-bg.sau-flag:before {
  background-image:url(../images/flags/sau.svg);
}
.flag-bg.SDN-flag:before,
.flag-bg.sdn-flag:before {
  background-image:url(../images/flags/sdn.svg);
}
.flag-bg.SEN-flag:before,
.flag-bg.sen-flag:before {
  background-image:url(../images/flags/sen.svg);
}
.flag-bg.SGP-flag:before,
.flag-bg.sgp-flag:before {
  background-image:url(../images/flags/sgp.svg);
}
.flag-bg.SGS-flag:before,
.flag-bg.sgs-flag:before {
  background-image:url(../images/flags/sgs.svg);
}
.flag-bg.SHN-flag:before,
.flag-bg.shn-flag:before {
  background-image:url(../images/flags/shn.svg);
}
.flag-bg.SJM-flag:before,
.flag-bg.sjm-flag:before {
  background-image:url(../images/flags/sjm.svg);
}
.flag-bg.SLB-flag:before,
.flag-bg.slb-flag:before {
  background-image:url(../images/flags/slb.svg);
}
.flag-bg.SLE-flag:before,
.flag-bg.sle-flag:before {
  background-image:url(../images/flags/sle.svg);
}
.flag-bg.SLV-flag:before,
.flag-bg.slv-flag:before {
  background-image:url(../images/flags/slv.svg);
}
.flag-bg.SMR-flag:before,
.flag-bg.smr-flag:before {
  background-image:url(../images/flags/smr.svg);
}
.flag-bg.SOM-flag:before,
.flag-bg.som-flag:before {
  background-image:url(../images/flags/som.svg);
}
.flag-bg.SPM-flag:before,
.flag-bg.spm-flag:before {
  background-image:url(../images/flags/spm.svg);
}
.flag-bg.SRB-flag:before,
.flag-bg.srb-flag:before {
  background-image:url(../images/flags/srb.svg);
}
.flag-bg.SSD-flag:before,
.flag-bg.ssd-flag:before {
  background-image:url(../images/flags/ssd.svg);
}
.flag-bg.STP-flag:before,
.flag-bg.stp-flag:before {
  background-image:url(../images/flags/stp.svg);
}
.flag-bg.SUR-flag:before,
.flag-bg.sur-flag:before {
  background-image:url(../images/flags/sur.svg);
}
.flag-bg.SVK-flag:before,
.flag-bg.svk-flag:before {
  background-image:url(../images/flags/svk.svg);
}
.flag-bg.SVN-flag:before,
.flag-bg.svn-flag:before {
  background-image:url(../images/flags/svn.svg);
}
.flag-bg.SWE-flag:before,
.flag-bg.swe-flag:before {
  background-image:url(../images/flags/swe.svg);
}
.flag-bg.SWZ-flag:before,
.flag-bg.swz-flag:before {
  background-image:url(../images/flags/swz.svg);
}
.flag-bg.SXM-flag:before,
.flag-bg.sxm-flag:before {
  background-image:url(../images/flags/sxm.svg);
}
.flag-bg.SYC-flag:before,
.flag-bg.syc-flag:before {
  background-image:url(../images/flags/syc.svg);
}
.flag-bg.SYR-flag:before,
.flag-bg.syr-flag:before {
  background-image:url(../images/flags/syr.svg);
}
.flag-bg.TCA-flag:before,
.flag-bg.tca-flag:before {
  background-image:url(../images/flags/tca.svg);
}
.flag-bg.TCD-flag:before,
.flag-bg.tcd-flag:before {
  background-image:url(../images/flags/tcd.svg);
}
.flag-bg.TGO-flag:before,
.flag-bg.tgo-flag:before {
  background-image:url(../images/flags/tgo.svg);
}
.flag-bg.THA-flag:before,
.flag-bg.tha-flag:before {
  background-image:url(../images/flags/tha.svg);
}
.flag-bg.TJK-flag:before,
.flag-bg.tjk-flag:before {
  background-image:url(../images/flags/tjk.svg);
}
.flag-bg.TKL-flag:before,
.flag-bg.tkl-flag:before {
  background-image:url(../images/flags/tkl.svg);
}
.flag-bg.TKM-flag:before,
.flag-bg.tkm-flag:before {
  background-image:url(../images/flags/tkm.svg);
}
.flag-bg.TLS-flag:before,
.flag-bg.tls-flag:before {
  background-image:url(../images/flags/tls.svg);
}
.flag-bg.TON-flag:before,
.flag-bg.ton-flag:before {
  background-image:url(../images/flags/ton.svg);
}
.flag-bg.TTO-flag:before,
.flag-bg.tto-flag:before {
  background-image:url(../images/flags/tto.svg);
}
.flag-bg.TUN-flag:before,
.flag-bg.tun-flag:before {
  background-image:url(../images/flags/tun.svg);
}
.flag-bg.TUR-flag:before,
.flag-bg.tur-flag:before {
  background-image:url(../images/flags/tur.svg);
}
.flag-bg.TUV-flag:before,
.flag-bg.tuv-flag:before {
  background-image:url(../images/flags/tuv.svg);
}
.flag-bg.TWN-flag:before,
.flag-bg.twn-flag:before {
  background-image:url(../images/flags/twn.svg);
}
.flag-bg.TZA-flag:before,
.flag-bg.tza-flag:before {
  background-image:url(../images/flags/tza.svg);
}
.flag-bg.UGA-flag:before,
.flag-bg.uga-flag:before {
  background-image:url(../images/flags/uga.svg);
}
.flag-bg.UKR-flag:before,
.flag-bg.ukr-flag:before {
  background-image:url(../images/flags/ukr.svg);
}
.flag-bg.UMI-flag:before,
.flag-bg.umi-flag:before {
  background-image:url(../images/flags/umi.svg);
}
.flag-bg.URY-flag:before,
.flag-bg.ury-flag:before {
  background-image:url(../images/flags/ury.svg);
}
.flag-bg.USA-flag:before,
.flag-bg.usa-flag:before {
  background-image:url(../images/flags/usa.svg);
}
.flag-bg.UZB-flag:before,
.flag-bg.uzb-flag:before {
  background-image:url(../images/flags/uzb.svg);
}
.flag-bg.VAT-flag:before,
.flag-bg.vat-flag:before {
  background-image:url(../images/flags/vat.svg);
}
.flag-bg.VCT-flag:before,
.flag-bg.vct-flag:before {
  background-image:url(../images/flags/vct.svg);
}
.flag-bg.VEN-flag:before,
.flag-bg.ven-flag:before {
  background-image:url(../images/flags/ven.svg);
}
.flag-bg.VGB-flag:before,
.flag-bg.vgb-flag:before {
  background-image:url(../images/flags/vgb.svg);
}
.flag-bg.VIR-flag:before,
.flag-bg.vir-flag:before {
  background-image:url(../images/flags/vir.svg);
}
.flag-bg.VNM-flag:before,
.flag-bg.vnm-flag:before {
  background-image:url(../images/flags/vnm.svg);
}
.flag-bg.VUT-flag:before,
.flag-bg.vut-flag:before {
  background-image:url(../images/flags/vut.svg);
}
.flag-bg.WLF-flag:before,
.flag-bg.wlf-flag:before {
  background-image:url(../images/flags/wlf.svg);
}
.flag-bg.WSM-flag:before,
.flag-bg.wsm-flag:before {
  background-image:url(../images/flags/wsm.svg);
}
.flag-bg.YEM-flag:before,
.flag-bg.yem-flag:before {
  background-image:url(../images/flags/yem.svg);
}
.flag-bg.ZAF-flag:before,
.flag-bg.zaf-flag:before {
  background-image:url(../images/flags/zaf.svg);
}
.flag-bg.ZMB-flag:before,
.flag-bg.zmb-flag:before {
  background-image:url(../images/flags/zmb.svg);
}
.flag-bg.ZWE-flag:before,
.flag-bg.zwe-flag:before {
  background-image:url(../images/flags/zwe.svg);
}
