//$modal-lg: 1200px;
//$modal-md: 900px;
//$modal-sm: 300px;

$navmenu-width: 300px;
$navmenu-default-color: $navbar-default-color;
$navmenu-default-bg: $navbar-default-bg;
$navmenu-default-link-color: $navbar-default-link-color;
$navmenu-default-link-hover-color: $navbar-default-link-hover-color;
$navmenu-default-link-active-color: $navbar-default-link-active-color;
$navmenu-default-link-disabled-color: $navbar-default-link-disabled-color;
$navmenu-inverse-bg: $navbar-inverse-bg;
$navmenu-inverse-link-hover-color: $navbar-inverse-link-hover-color;
$navmenu-inverse-link-disabled-color: $navbar-inverse-link-disabled-color;
$navmenu-inverse-brand-hover-color: $navbar-inverse-brand-hover-color;
$navmenu-inverse-search-bg-focus: #fff;
$navmenu-inverse-search-placeholder-color: #ccc;


$chosen-sprite-path: "../images/chosen-sprite.png";
$chosen-sprite-retina-path: "../images/chosen-sprite$2x.png";
