<option value="AF" data-i18n="values:countries.AF">Afghanistan</option>
<option value="AX" data-i18n="values:countries.AX">Aland Islands</option>
<option value="AL" data-i18n="values:countries.AL">Albania</option>
<option value="DZ" data-i18n="values:countries.DZ">Algeria</option>
<option value="AS" data-i18n="values:countries.AS">American Samoa</option>
<option value="AD" data-i18n="values:countries.AD">Andorra</option>
<option value="AO" data-i18n="values:countries.AO">Angola</option>
<option value="AI" data-i18n="values:countries.AI">Anguilla</option>
<option value="AQ" data-i18n="values:countries.AQ">Antarctica</option>
<option value="AG" data-i18n="values:countries.AG">Antigua and Barbuda</option>
<option value="AR" data-i18n="values:countries.AR">Argentina</option>
<option value="AM" data-i18n="values:countries.AM">Armenia</option>
<option value="AW" data-i18n="values:countries.AW">Aruba</option>
<option value="AU" data-i18n="values:countries.AU">Australia</option>
<option value="AT" data-i18n="values:countries.AT">Austria</option>
<option value="AZ" data-i18n="values:countries.AZ">Azerbaijan</option>
<option value="BS" data-i18n="values:countries.BS">Bahamas</option>
<option value="BH" data-i18n="values:countries.BH">Bahrain</option>
<option value="BD" data-i18n="values:countries.BD">Bangladesh</option>
<option value="BB" data-i18n="values:countries.BB">Barbados</option>
<option value="BY" data-i18n="values:countries.BY">Belarus</option>
<option value="BE" data-i18n="values:countries.BE">Belgium</option>
<option value="BZ" data-i18n="values:countries.BZ">Belize</option>
<option value="BJ" data-i18n="values:countries.BJ">Benin</option>
<option value="BM" data-i18n="values:countries.BM">Bermuda</option>
<option value="BT" data-i18n="values:countries.BT">Bhutan</option>
<option value="BO" data-i18n="values:countries.BO">Bolivia</option>
<option value="BQ" data-i18n="values:countries.BQ">Bonaire, Saint Eustatius and Saba </option>
<option value="BA" data-i18n="values:countries.BA">Bosnia and Herzegovina</option>
<option value="BW" data-i18n="values:countries.BW">Botswana</option>
<option value="BV" data-i18n="values:countries.BV">Bouvet Island</option>
<option value="BR" data-i18n="values:countries.BR">Brazil</option>
<option value="IO" data-i18n="values:countries.IO">British Indian Ocean Territory</option>
<option value="VG" data-i18n="values:countries.VG">British Virgin Islands</option>
<option value="BN" data-i18n="values:countries.BN">Brunei</option>
<option value="BG" data-i18n="values:countries.BG">Bulgaria</option>
<option value="BF" data-i18n="values:countries.BF">Burkina Faso</option>
<option value="BI" data-i18n="values:countries.BI">Burundi</option>
<option value="KH" data-i18n="values:countries.KH">Cambodia</option>
<option value="CM" data-i18n="values:countries.CM">Cameroon</option>
<option value="CA" data-i18n="values:countries.CA">Canada</option>
<option value="CV" data-i18n="values:countries.CV">Cape Verde</option>
<option value="KY" data-i18n="values:countries.KY">Cayman Islands</option>
<option value="CF" data-i18n="values:countries.CF">Central African Republic</option>
<option value="TD" data-i18n="values:countries.TD">Chad</option>
<option value="CL" data-i18n="values:countries.CL">Chile</option>
<option value="CN" data-i18n="values:countries.CN">China</option>
<option value="CX" data-i18n="values:countries.CX">Christmas Island</option>
<option value="CC" data-i18n="values:countries.CC">Cocos Islands</option>
<option value="CO" data-i18n="values:countries.CO">Colombia</option>
<option value="KM" data-i18n="values:countries.KM">Comoros</option>
<option value="CK" data-i18n="values:countries.CK">Cook Islands</option>
<option value="CR" data-i18n="values:countries.CR">Costa Rica</option>
<option value="HR" data-i18n="values:countries.HR">Croatia</option>
<option value="CU" data-i18n="values:countries.CU">Cuba</option>
<option value="CW" data-i18n="values:countries.CW">Curacao</option>
<option value="CY" data-i18n="values:countries.CY">Cyprus</option>
<option value="CZ" data-i18n="values:countries.CZ">Czech Republic</option>
<option value="CD" data-i18n="values:countries.CD">Democratic Republic of the Congo</option>
<option value="DK" data-i18n="values:countries.DK">Denmark</option>
<option value="DJ" data-i18n="values:countries.DJ">Djibouti</option>
<option value="DM" data-i18n="values:countries.DM">Dominica</option>
<option value="DO" data-i18n="values:countries.DO">Dominican Republic</option>
<option value="TL" data-i18n="values:countries.TL">East Timor</option>
<option value="EC" data-i18n="values:countries.EC">Ecuador</option>
<option value="EG" data-i18n="values:countries.EG">Egypt</option>
<option value="SV" data-i18n="values:countries.SV">El Salvador</option>
<option value="GQ" data-i18n="values:countries.GQ">Equatorial Guinea</option>
<option value="ER" data-i18n="values:countries.ER">Eritrea</option>
<option value="EE" data-i18n="values:countries.EE">Estonia</option>
<option value="ET" data-i18n="values:countries.ET">Ethiopia</option>
<option value="FK" data-i18n="values:countries.FK">Falkland Islands</option>
<option value="FO" data-i18n="values:countries.FO">Faroe Islands</option>
<option value="FJ" data-i18n="values:countries.FJ">Fiji</option>
<option value="FI" data-i18n="values:countries.FI">Finland</option>
<option value="FR" data-i18n="values:countries.FR">France</option>
<option value="GF" data-i18n="values:countries.GF">French Guiana</option>
<option value="PF" data-i18n="values:countries.PF">French Polynesia</option>
<option value="TF" data-i18n="values:countries.TF">French Southern Territories</option>
<option value="GA" data-i18n="values:countries.GA">Gabon</option>
<option value="GM" data-i18n="values:countries.GM">Gambia</option>
<option value="GE" data-i18n="values:countries.GE">Georgia</option>
<option value="DE" data-i18n="values:countries.DE">Germany</option>
<option value="GH" data-i18n="values:countries.GH">Ghana</option>
<option value="GI" data-i18n="values:countries.GI">Gibraltar</option>
<option value="GR" data-i18n="values:countries.GR">Greece</option>
<option value="GL" data-i18n="values:countries.GL">Greenland</option>
<option value="GD" data-i18n="values:countries.GD">Grenada</option>
<option value="GP" data-i18n="values:countries.GP">Guadeloupe</option>
<option value="GU" data-i18n="values:countries.GU">Guam</option>
<option value="GT" data-i18n="values:countries.GT">Guatemala</option>
<option value="GG" data-i18n="values:countries.GG">Guernsey</option>
<option value="GN" data-i18n="values:countries.GN">Guinea</option>
<option value="GW" data-i18n="values:countries.GW">Guinea-Bissau</option>
<option value="GY" data-i18n="values:countries.GY">Guyana</option>
<option value="HT" data-i18n="values:countries.HT">Haiti</option>
<option value="HM" data-i18n="values:countries.HM">Heard Island and McDonald Islands</option>
<option value="HN" data-i18n="values:countries.HN">Honduras</option>
<option value="HK" data-i18n="values:countries.HK">Hong Kong</option>
<option value="HU" data-i18n="values:countries.HU">Hungary</option>
<option value="IS" data-i18n="values:countries.IS">Iceland</option>
<option value="IN" data-i18n="values:countries.IN">India</option>
<option value="ID" data-i18n="values:countries.ID">Indonesia</option>
<option value="IR" data-i18n="values:countries.IR">Iran</option>
<option value="IQ" data-i18n="values:countries.IQ">Iraq</option>
<option value="IE" data-i18n="values:countries.IE">Ireland</option>
<option value="IM" data-i18n="values:countries.IM">Isle of Man</option>
<option value="IL" data-i18n="values:countries.IL">Israel</option>
<option value="IT" data-i18n="values:countries.IT">Italy</option>
<option value="CI" data-i18n="values:countries.CI">Ivory Coast</option>
<option value="JM" data-i18n="values:countries.JM">Jamaica</option>
<option value="JP" data-i18n="values:countries.JP">Japan</option>
<option value="JE" data-i18n="values:countries.JE">Jersey</option>
<option value="JO" data-i18n="values:countries.JO">Jordan</option>
<option value="KZ" data-i18n="values:countries.KZ">Kazakhstan</option>
<option value="KE" data-i18n="values:countries.KE">Kenya</option>
<option value="KI" data-i18n="values:countries.KI">Kiribati</option>
<option value="XK" data-i18n="values:countries.XK">Kosovo</option>
<option value="KW" data-i18n="values:countries.KW">Kuwait</option>
<option value="KG" data-i18n="values:countries.KG">Kyrgyzstan</option>
<option value="LA" data-i18n="values:countries.LA">Laos</option>
<option value="LV" data-i18n="values:countries.LV">Latvia</option>
<option value="LB" data-i18n="values:countries.LB">Lebanon</option>
<option value="LS" data-i18n="values:countries.LS">Lesotho</option>
<option value="LR" data-i18n="values:countries.LR">Liberia</option>
<option value="LY" data-i18n="values:countries.LY">Libya</option>
<option value="LI" data-i18n="values:countries.LI">Liechtenstein</option>
<option value="LT" data-i18n="values:countries.LT">Lithuania</option>
<option value="LU" data-i18n="values:countries.LU">Luxembourg</option>
<option value="MO" data-i18n="values:countries.MO">Macao</option>
<option value="MK" data-i18n="values:countries.MK">Macedonia</option>
<option value="MG" data-i18n="values:countries.MG">Madagascar</option>
<option value="MW" data-i18n="values:countries.MW">Malawi</option>
<option value="MY" data-i18n="values:countries.MY">Malaysia</option>
<option value="MV" data-i18n="values:countries.MV">Maldives</option>
<option value="ML" data-i18n="values:countries.ML">Mali</option>
<option value="MT" data-i18n="values:countries.MT">Malta</option>
<option value="MH" data-i18n="values:countries.MH">Marshall Islands</option>
<option value="MQ" data-i18n="values:countries.MQ">Martinique</option>
<option value="MR" data-i18n="values:countries.MR">Mauritania</option>
<option value="MU" data-i18n="values:countries.MU">Mauritius</option>
<option value="YT" data-i18n="values:countries.YT">Mayotte</option>
<option value="MX" data-i18n="values:countries.MX">Mexico</option>
<option value="FM" data-i18n="values:countries.FM">Micronesia</option>
<option value="MD" data-i18n="values:countries.MD">Moldova</option>
<option value="MC" data-i18n="values:countries.MC">Monaco</option>
<option value="MN" data-i18n="values:countries.MN">Mongolia</option>
<option value="ME" data-i18n="values:countries.ME">Montenegro</option>
<option value="MS" data-i18n="values:countries.MS">Montserrat</option>
<option value="MA" data-i18n="values:countries.MA">Morocco</option>
<option value="MZ" data-i18n="values:countries.MZ">Mozambique</option>
<option value="MM" data-i18n="values:countries.MM">Myanmar</option>
<option value="NA" data-i18n="values:countries.NA">Namibia</option>
<option value="NR" data-i18n="values:countries.NR">Nauru</option>
<option value="NP" data-i18n="values:countries.NP">Nepal</option>
<option value="NL" data-i18n="values:countries.NL">Netherlands</option>
<option value="AN" data-i18n="values:countries.AN">Netherlands Antilles</option>
<option value="NC" data-i18n="values:countries.NC">New Caledonia</option>
<option value="NZ" data-i18n="values:countries.NZ">New Zealand</option>
<option value="NI" data-i18n="values:countries.NI">Nicaragua</option>
<option value="NE" data-i18n="values:countries.NE">Niger</option>
<option value="NG" data-i18n="values:countries.NG">Nigeria</option>
<option value="NU" data-i18n="values:countries.NU">Niue</option>
<option value="NF" data-i18n="values:countries.NF">Norfolk Island</option>
<option value="KP" data-i18n="values:countries.KP">North Korea</option>
<option value="MP" data-i18n="values:countries.MP">Northern Mariana Islands</option>
<option value="NO" data-i18n="values:countries.NO">Norway</option>
<option value="OM" data-i18n="values:countries.OM">Oman</option>
<option value="PK" data-i18n="values:countries.PK">Pakistan</option>
<option value="PW" data-i18n="values:countries.PW">Palau</option>
<option value="PS" data-i18n="values:countries.PS">Palestinian Territory</option>
<option value="PA" data-i18n="values:countries.PA">Panama</option>
<option value="PG" data-i18n="values:countries.PG">Papua New Guinea</option>
<option value="PY" data-i18n="values:countries.PY">Paraguay</option>
<option value="PE" data-i18n="values:countries.PE">Peru</option>
<option value="PH" data-i18n="values:countries.PH">Philippines</option>
<option value="PN" data-i18n="values:countries.PN">Pitcairn</option>
<option value="PL" data-i18n="values:countries.PL">Poland</option>
<option value="PT" data-i18n="values:countries.PT">Portugal</option>
<option value="PR" data-i18n="values:countries.PR">Puerto Rico</option>
<option value="QA" data-i18n="values:countries.QA">Qatar</option>
<option value="CG" data-i18n="values:countries.CG">Republic of the Congo</option>
<option value="RE" data-i18n="values:countries.RE">Reunion</option>
<option value="RO" data-i18n="values:countries.RO">Romania</option>
<option value="RU" data-i18n="values:countries.RU">Russia</option>
<option value="RW" data-i18n="values:countries.RW">Rwanda</option>
<option value="BL" data-i18n="values:countries.BL">Saint Barthelemy</option>
<option value="SH" data-i18n="values:countries.SH">Saint Helena</option>
<option value="KN" data-i18n="values:countries.KN">Saint Kitts and Nevis</option>
<option value="LC" data-i18n="values:countries.LC">Saint Lucia</option>
<option value="MF" data-i18n="values:countries.MF">Saint Martin</option>
<option value="PM" data-i18n="values:countries.PM">Saint Pierre and Miquelon</option>
<option value="VC" data-i18n="values:countries.VC">Saint Vincent and the Grenadines</option>
<option value="WS" data-i18n="values:countries.WS">Samoa</option>
<option value="SM" data-i18n="values:countries.SM">San Marino</option>
<option value="ST" data-i18n="values:countries.ST">Sao Tome and Principe</option>
<option value="SA" data-i18n="values:countries.SA">Saudi Arabia</option>
<option value="SN" data-i18n="values:countries.SN">Senegal</option>
<option value="RS" data-i18n="values:countries.RS">Serbia</option>
<option value="CS" data-i18n="values:countries.CS">Serbia and Montenegro</option>
<option value="SC" data-i18n="values:countries.SC">Seychelles</option>
<option value="SL" data-i18n="values:countries.SL">Sierra Leone</option>
<option value="SG" data-i18n="values:countries.SG">Singapore</option>
<option value="SX" data-i18n="values:countries.SX">Sint Maarten</option>
<option value="SK" data-i18n="values:countries.SK">Slovakia</option>
<option value="SI" data-i18n="values:countries.SI">Slovenia</option>
<option value="SB" data-i18n="values:countries.SB">Solomon Islands</option>
<option value="SO" data-i18n="values:countries.SO">Somalia</option>
<option value="ZA" data-i18n="values:countries.ZA">South Africa</option>
<option value="GS" data-i18n="values:countries.GS">South Georgia and the South Sandwich Islands</option>
<option value="KR" data-i18n="values:countries.KR">South Korea</option>
<option value="SS" data-i18n="values:countries.SS">South Sudan</option>
<option value="ES" data-i18n="values:countries.ES">Spain</option>
<option value="LK" data-i18n="values:countries.LK">Sri Lanka</option>
<option value="SD" data-i18n="values:countries.SD">Sudan</option>
<option value="SR" data-i18n="values:countries.SR">Suriname</option>
<option value="SJ" data-i18n="values:countries.SJ">Svalbard and Jan Mayen</option>
<option value="SZ" data-i18n="values:countries.SZ">Swaziland</option>
<option value="SE" data-i18n="values:countries.SE">Sweden</option>
<option value="CH" data-i18n="values:countries.CH">Switzerland</option>
<option value="SY" data-i18n="values:countries.SY">Syria</option>
<option value="TW" data-i18n="values:countries.TW">Taiwan</option>
<option value="TJ" data-i18n="values:countries.TJ">Tajikistan</option>
<option value="TZ" data-i18n="values:countries.TZ">Tanzania</option>
<option value="TH" data-i18n="values:countries.TH">Thailand</option>
<option value="TG" data-i18n="values:countries.TG">Togo</option>
<option value="TK" data-i18n="values:countries.TK">Tokelau</option>
<option value="TO" data-i18n="values:countries.TO">Tonga</option>
<option value="TT" data-i18n="values:countries.TT">Trinidad and Tobago</option>
<option value="TN" data-i18n="values:countries.TN">Tunisia</option>
<option value="TR" data-i18n="values:countries.TR">Turkey</option>
<option value="TM" data-i18n="values:countries.TM">Turkmenistan</option>
<option value="TC" data-i18n="values:countries.TC">Turks and Caicos Islands</option>
<option value="TV" data-i18n="values:countries.TV">Tuvalu</option>
<option value="VI" data-i18n="values:countries.VI">U.S. Virgin Islands</option>
<option value="UG" data-i18n="values:countries.UG">Uganda</option>
<option value="UA" data-i18n="values:countries.UA">Ukraine</option>
<option value="AE" data-i18n="values:countries.AE">United Arab Emirates</option>
<option value="GB" data-i18n="values:countries.GB">United Kingdom</option>
<option value="US" data-i18n="values:countries.US">United States</option>
<option value="UM" data-i18n="values:countries.UM">United States Minor Outlying Islands</option>
<option value="UY" data-i18n="values:countries.UY">Uruguay</option>
<option value="UZ" data-i18n="values:countries.UZ">Uzbekistan</option>
<option value="VU" data-i18n="values:countries.VU">Vanuatu</option>
<option value="VA" data-i18n="values:countries.VA">Vatican</option>
<option value="VE" data-i18n="values:countries.VE">Venezuela</option>
<option value="VN" data-i18n="values:countries.VN">Vietnam</option>
<option value="WF" data-i18n="values:countries.WF">Wallis and Futuna</option>
<option value="EH" data-i18n="values:countries.EH">Western Sahara</option>
<option value="YE" data-i18n="values:countries.YE">Yemen</option>
<option value="ZM" data-i18n="values:countries.ZM">Zambia</option>
<option value="ZW" data-i18n="values:countries.ZW">Zimbabwe</option>
