<option value="XUA" data-i18n="values:currencies.XUA">ADB Unit of Account</option>
<option value="AFN" data-i18n="values:currencies.AFN">Afghani</option>
<option value="DZD" data-i18n="values:currencies.DZD">Algerian Dinar</option>
<option value="ARS" data-i18n="values:currencies.ARS">Argentine Peso</option>
<option value="AMD" data-i18n="values:currencies.AMD">Armenian Dram</option>
<option value="AWG" data-i18n="values:currencies.AWG">Aruban Florin</option>
<option value="AUD" data-i18n="values:currencies.AUD">Australian Dollar</option>
<option value="AZN" data-i18n="values:currencies.AZN">Azerbaijanian Manat</option>
<option value="BSD" data-i18n="values:currencies.BSD">Bahamian Dollar</option>
<option value="BHD" data-i18n="values:currencies.BHD">Bahraini Dinar</option>
<option value="THB" data-i18n="values:currencies.THB">Baht</option>
<option value="PAB" data-i18n="values:currencies.PAB">Balboa</option>
<option value="BBD" data-i18n="values:currencies.BBD">Barbados Dollar</option>
<option value="BYR" data-i18n="values:currencies.BYR">Belarussian Ruble</option>
<option value="BZD" data-i18n="values:currencies.BZD">Belize Dollar</option>
<option value="BMD" data-i18n="values:currencies.BMD">Bermudian Dollar</option>
<option value="VEF" data-i18n="values:currencies.VEF">Bolivar</option>
<option value="BOB" data-i18n="values:currencies.BOB">Boliviano</option>
<option value="XBA" data-i18n="values:currencies.XBA">Bond Markets Unit European Composite Unit (EURCO)</option>
<option value="XBB" data-i18n="values:currencies.XBB">Bond Markets Unit European Monetary Unit (E.M.U.-6)</option>
<option value="XBD" data-i18n="values:currencies.XBD">Bond Markets Unit European Unit of Account 17 (E.U.A.-17)</option>
<option value="XBC" data-i18n="values:currencies.XBC">Bond Markets Unit European Unit of Account 9 (E.U.A.-9)</option>
<option value="BRL" data-i18n="values:currencies.BRL">Brazilian Real</option>
<option value="BND" data-i18n="values:currencies.BND">Brunei Dollar</option>
<option value="BGN" data-i18n="values:currencies.BGN">Bulgarian Lev</option>
<option value="BIF" data-i18n="values:currencies.BIF">Burundi Franc</option>
<option value="XOF" data-i18n="values:currencies.XOF">CFA Franc BCEAO</option>
<option value="XAF" data-i18n="values:currencies.XAF">CFA Franc BEAC</option>
<option value="XPF" data-i18n="values:currencies.XPF">CFP Franc</option>
<option value="CAD" data-i18n="values:currencies.CAD">Canadian Dollar</option>
<option value="CVE" data-i18n="values:currencies.CVE">Cape Verde Escudo</option>
<option value="KYD" data-i18n="values:currencies.KYD">Cayman Islands Dollar</option>
<option value="CLP" data-i18n="values:currencies.CLP">Chilean Peso</option>
<option value="XTS" data-i18n="values:currencies.XTS">Codes specifically reserved for testing purposes</option>
<option value="COP" data-i18n="values:currencies.COP">Colombian Peso</option>
<option value="KMF" data-i18n="values:currencies.KMF">Comoro Franc</option>
<option value="CDF" data-i18n="values:currencies.CDF">Congolese Franc</option>
<option value="BAM" data-i18n="values:currencies.BAM">Convertible Mark</option>
<option value="NIO" data-i18n="values:currencies.NIO">Cordoba Oro</option>
<option value="CRC" data-i18n="values:currencies.CRC">Costa Rican Colon</option>
<option value="HRK" data-i18n="values:currencies.HRK">Croatian Kuna</option>
<option value="CUP" data-i18n="values:currencies.CUP">Cuban Peso</option>
<option value="CZK" data-i18n="values:currencies.CZK">Czech Koruna</option>
<option value="GMD" data-i18n="values:currencies.GMD">Dalasi</option>
<option value="DKK" data-i18n="values:currencies.DKK">Danish Krone</option>
<option value="MKD" data-i18n="values:currencies.MKD">Denar</option>
<option value="DJF" data-i18n="values:currencies.DJF">Djibouti Franc</option>
<option value="STD" data-i18n="values:currencies.STD">Dobra</option>
<option value="DOP" data-i18n="values:currencies.DOP">Dominican Peso</option>
<option value="VND" data-i18n="values:currencies.VND">Dong</option>
<option value="XCD" data-i18n="values:currencies.XCD">East Caribbean Dollar</option>
<option value="EGP" data-i18n="values:currencies.EGP">Egyptian Pound</option>
<option value="SVC" data-i18n="values:currencies.SVC">El Salvador Colon</option>
<option value="ETB" data-i18n="values:currencies.ETB">Ethiopian Birr</option>
<option value="EUR" data-i18n="values:currencies.EUR">Euro</option>
<option value="FKP" data-i18n="values:currencies.FKP">Falkland Islands Pound</option>
<option value="FJD" data-i18n="values:currencies.FJD">Fiji Dollar</option>
<option value="HUF" data-i18n="values:currencies.HUF">Forint</option>
<option value="GHS" data-i18n="values:currencies.GHS">Ghana Cedi</option>
<option value="GIP" data-i18n="values:currencies.GIP">Gibraltar Pound</option>
<option value="XAU" data-i18n="values:currencies.XAU">Gold</option>
<option value="HTG" data-i18n="values:currencies.HTG">Gourde</option>
<option value="PYG" data-i18n="values:currencies.PYG">Guarani</option>
<option value="GNF" data-i18n="values:currencies.GNF">Guinea Franc</option>
<option value="GYD" data-i18n="values:currencies.GYD">Guyana Dollar</option>
<option value="HKD" data-i18n="values:currencies.HKD">Hong Kong Dollar</option>
<option value="UAH" data-i18n="values:currencies.UAH">Hryvnia</option>
<option value="ISK" data-i18n="values:currencies.ISK">Iceland Krona</option>
<option value="INR" data-i18n="values:currencies.INR">Indian Rupee</option>
<option value="IRR" data-i18n="values:currencies.IRR">Iranian Rial</option>
<option value="IQD" data-i18n="values:currencies.IQD">Iraqi Dinar</option>
<option value="JMD" data-i18n="values:currencies.JMD">Jamaican Dollar</option>
<option value="JOD" data-i18n="values:currencies.JOD">Jordanian Dinar</option>
<option value="KES" data-i18n="values:currencies.KES">Kenyan Shilling</option>
<option value="PGK" data-i18n="values:currencies.PGK">Kina</option>
<option value="LAK" data-i18n="values:currencies.LAK">Kip</option>
<option value="KWD" data-i18n="values:currencies.KWD">Kuwaiti Dinar</option>
<option value="MWK" data-i18n="values:currencies.MWK">Kwacha</option>
<option value="AOA" data-i18n="values:currencies.AOA">Kwanza</option>
<option value="MMK" data-i18n="values:currencies.MMK">Kyat</option>
<option value="GEL" data-i18n="values:currencies.GEL">Lari</option>
<option value="LBP" data-i18n="values:currencies.LBP">Lebanese Pound</option>
<option value="ALL" data-i18n="values:currencies.ALL">Lek</option>
<option value="HNL" data-i18n="values:currencies.HNL">Lempira</option>
<option value="SLL" data-i18n="values:currencies.SLL">Leone</option>
<option value="LRD" data-i18n="values:currencies.LRD">Liberian Dollar</option>
<option value="LYD" data-i18n="values:currencies.LYD">Libyan Dinar</option>
<option value="SZL" data-i18n="values:currencies.SZL">Lilangeni</option>
<option value="LTL" data-i18n="values:currencies.LTL">Lithuanian Litas</option>
<option value="LSL" data-i18n="values:currencies.LSL">Loti</option>
<option value="MGA" data-i18n="values:currencies.MGA">Malagasy Ariary</option>
<option value="MYR" data-i18n="values:currencies.MYR">Malaysian Ringgit</option>
<option value="MUR" data-i18n="values:currencies.MUR">Mauritius Rupee</option>
<option value="MXN" data-i18n="values:currencies.MXN">Mexican Peso</option>
<option value="MDL" data-i18n="values:currencies.MDL">Moldovan Leu</option>
<option value="MAD" data-i18n="values:currencies.MAD">Moroccan Dirham</option>
<option value="MZN" data-i18n="values:currencies.MZN">Mozambique Metical</option>
<option value="NGN" data-i18n="values:currencies.NGN">Naira</option>
<option value="ERN" data-i18n="values:currencies.ERN">Nakfa</option>
<option value="NAD" data-i18n="values:currencies.NAD">Namibia Dollar</option>
<option value="NPR" data-i18n="values:currencies.NPR">Nepalese Rupee</option>
<option value="ANG" data-i18n="values:currencies.ANG">Netherlands Antillean Guilder</option>
<option value="ILS" data-i18n="values:currencies.ILS">New Israeli Sheqel</option>
<option value="RON" data-i18n="values:currencies.RON">New Romanian Leu</option>
<option value="TWD" data-i18n="values:currencies.TWD">New Taiwan Dollar</option>
<option value="NZD" data-i18n="values:currencies.NZD">New Zealand Dollar</option>
<option value="BTN" data-i18n="values:currencies.BTN">Ngultrum</option>
<option value="KPW" data-i18n="values:currencies.KPW">North Korean Won</option>
<option value="NOK" data-i18n="values:currencies.NOK">Norwegian Krone</option>
<option value="PEN" data-i18n="values:currencies.PEN">Nuevo Sol</option>
<option value="MRO" data-i18n="values:currencies.MRO">Ouguiya</option>
<option value="PKR" data-i18n="values:currencies.PKR">Pakistan Rupee</option>
<option value="XPD" data-i18n="values:currencies.XPD">Palladium</option>
<option value="MOP" data-i18n="values:currencies.MOP">Pataca</option>
<option value="TOP" data-i18n="values:currencies.TOP">Pa’anga</option>
<option value="CUC" data-i18n="values:currencies.CUC">Peso Convertible</option>
<option value="UYU" data-i18n="values:currencies.UYU">Peso Uruguayo</option>
<option value="PHP" data-i18n="values:currencies.PHP">Philippine Peso</option>
<option value="XPT" data-i18n="values:currencies.XPT">Platinum</option>
<option value="GBP" data-i18n="values:currencies.GBP">Pound Sterling</option>
<option value="BWP" data-i18n="values:currencies.BWP">Pula</option>
<option value="QAR" data-i18n="values:currencies.QAR">Qatari Rial</option>
<option value="GTQ" data-i18n="values:currencies.GTQ">Quetzal</option>
<option value="ZAR" data-i18n="values:currencies.ZAR">Rand</option>
<option value="OMR" data-i18n="values:currencies.OMR">Rial Omani</option>
<option value="KHR" data-i18n="values:currencies.KHR">Riel</option>
<option value="MVR" data-i18n="values:currencies.MVR">Rufiyaa</option>
<option value="IDR" data-i18n="values:currencies.IDR">Rupiah</option>
<option value="RUB" data-i18n="values:currencies.RUB">Russian Ruble</option>
<option value="RWF" data-i18n="values:currencies.RWF">Rwanda Franc</option>
<option value="XDR" data-i18n="values:currencies.XDR">SDR (Special Drawing Right)</option>
<option value="SHP" data-i18n="values:currencies.SHP">Saint Helena Pound</option>
<option value="SAR" data-i18n="values:currencies.SAR">Saudi Riyal</option>
<option value="RSD" data-i18n="values:currencies.RSD">Serbian Dinar</option>
<option value="SCR" data-i18n="values:currencies.SCR">Seychelles Rupee</option>
<option value="XAG" data-i18n="values:currencies.XAG">Silver</option>
<option value="SGD" data-i18n="values:currencies.SGD">Singapore Dollar</option>
<option value="SBD" data-i18n="values:currencies.SBD">Solomon Islands Dollar</option>
<option value="KGS" data-i18n="values:currencies.KGS">Som</option>
<option value="SOS" data-i18n="values:currencies.SOS">Somali Shilling</option>
<option value="TJS" data-i18n="values:currencies.TJS">Somoni</option>
<option value="SSP" data-i18n="values:currencies.SSP">South Sudanese Pound</option>
<option value="LKR" data-i18n="values:currencies.LKR">Sri Lanka Rupee</option>
<option value="XSU" data-i18n="values:currencies.XSU">Sucre</option>
<option value="SDG" data-i18n="values:currencies.SDG">Sudanese Pound</option>
<option value="SRD" data-i18n="values:currencies.SRD">Surinam Dollar</option>
<option value="SEK" data-i18n="values:currencies.SEK">Swedish Krona</option>
<option value="CHF" data-i18n="values:currencies.CHF">Swiss Franc</option>
<option value="SYP" data-i18n="values:currencies.SYP">Syrian Pound</option>
<option value="BDT" data-i18n="values:currencies.BDT">Taka</option>
<option value="WST" data-i18n="values:currencies.WST">Tala</option>
<option value="TZS" data-i18n="values:currencies.TZS">Tanzanian Shilling</option>
<option value="KZT" data-i18n="values:currencies.KZT">Tenge</option>
<option value="XXX" data-i18n="values:currencies.XXX">The codes assigned for transactions where no currency is involved</option>
<option value="TTD" data-i18n="values:currencies.TTD">Trinidad and Tobago Dollar</option>
<option value="MNT" data-i18n="values:currencies.MNT">Tugrik</option>
<option value="TND" data-i18n="values:currencies.TND">Tunisian Dinar</option>
<option value="TRY" data-i18n="values:currencies.TRY">Turkish Lira</option>
<option value="TMT" data-i18n="values:currencies.TMT">Turkmenistan New Manat</option>
<option value="AED" data-i18n="values:currencies.AED">UAE Dirham</option>
<option value="USD" data-i18n="values:currencies.USD">US Dollar</option>
<option value="UGX" data-i18n="values:currencies.UGX">Uganda Shilling</option>
<option value="UZS" data-i18n="values:currencies.UZS">Uzbekistan Sum</option>
<option value="VUV" data-i18n="values:currencies.VUV">Vatu</option>
<option value="KRW" data-i18n="values:currencies.KRW">Won</option>
<option value="YER" data-i18n="values:currencies.YER">Yemeni Rial</option>
<option value="JPY" data-i18n="values:currencies.JPY">Yen</option>
<option value="CNY" data-i18n="values:currencies.CNY">Yuan Renminbi</option>
<option value="ZMW" data-i18n="values:currencies.ZMW">Zambian Kwacha</option>
<option value="ZWL" data-i18n="values:currencies.ZWL">Zimbabwe Dollar</option>
<option value="PLN" data-i18n="values:currencies.PLN">Zloty</option>
