<div class="container">
  <!--
  <div class="page-header clearfix" data-stellar-background-ratio="0.5">
    <h1 class="pull-left" data-toggle="popover" data-i18n="[data-original-title]help.faq.info">
      <i class="glyphicon glyphicon-question-sign"></i>
      <span data-i18n="help.faq.title"></span>&nbsp;
    </h1>
    <div class="btn-group pull-right">
      <a data-toggle="modal" href="#question_modal" class="btn btn-primary">
        <i class="glyphicon glyphicon-envelope"></i>
        <span data-i18n="help.question.add"></span>
      </a>
    </div>    
  </div>
  -->
  <div class="row">
    <div class="col-md-12">
      <div id="faq_filters" class="-btn-group">               
        {{#faq_filters}}
        <button type="button" class="btn btn-info btn-xs filter" data-filter=".{{.}}" data-i18n="help.faq.faq_filters.options.{{.}}"></button>
        {{/faq_filters}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="faq_list" class="panel-group">
        {{#faq_list}}
        <div class="panel panel-default mix {{filters}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#question_{{order}}" class="accordion-toggle clearfix" data-toggle="collapse" data-parent="#faq_list">
              <span data-i18n="help.faq.questions.{{id}}.title"></span>
              <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="question_{{order}}" class="panel-collapse collapse">
            <div class="panel-body" data-i18n="[html]help.faq.questions.{{id}}.body">
            </div>
          </div>
        </div>
        {{/faq_list}}
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <ul class="nav navbar-nav navbar-right col-xs-12">
    <li class="col-xs-12 text-center">
      <a data-toggle="modal" href="#question_modal" class="btn -btn-default">
      <i class="glyphicon glyphicon-envelope"></i><br />
      <span data-i18n="help.question.add"></span>
      </a>
    </li>
  </ul>
</div>