<div class="container">
  <div id="steps-progress" class="progress">
    <div class="progress-bar"></div>
    <div class="progress-bar"></div>
    <div class="progress-bar"></div>
  </div>
  <div class="row">
    <div id="steps" class="col-md-12 text-center">
      {{#steps}}
      <div class="col-md-4">
        <span class="icon-lg icon-circle">{{math @index "+" 1}}</span>
        <h3><a class="control-tabs" href="{{href}}" >{{title}}</a></h3>
        <!--<a class="btn btn-default btn-lg btn-block control-tabs" href="{{href}}" >{{title}}</a>-->
        <p>{{info}}</p>
      </div>
      {{/steps}}
    </div>
  </div>
</div>