
.icon-md{
display:inline-block;
font-size:1.5em;
width: 2em;
height: 2em;
padding: .2em;
}

.icon-lg{
display:inline-block;
font-size:3em;
width: 3em;
height: 3em;
padding: .7em;
}

.icon-square {
border: solid 2px;
border-radius: 50%;
}

.icon-circle {
border: solid 2px;
border-radius: 50%;
}