<div id="question_modal" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="https://docs.google.com/forms/d/19-w3wjOBid0DQLzCs8fRvFJzYLTlLD4-SptrgGMk77A/formResponse?embedded=true" method="POST" id="ss-form-question" target="_self" onsubmit="" role="form" data-parsley-validate="" data-parsley-trigger="change" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" data-toggle="tooltip" data-i18n="[data-original-title]sections:askQuestion.info">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span data-i18n="sections:askQuestion.title">&nbsp;</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="entry_1152240230" data-toggle="tooltip" data-i18n="fields:entry_1152240230.label;[data-original-title]fields:entry_1152240230.info"></label>
                        <textarea name="entry.1152240230" class="form-control" id="entry_1152240230" dir="auto" aria-label="Your question" aria-required="true" required></textarea>
                        <div class="error-message" id="674644305_errorMessage"></div>
                    </div>
                    <input type="hidden" name="draftResponse" value="[,,&quot;410645699580576179&quot;]"/>
                    <input type="hidden" name="pageHistory" value="0"/>
                    <input type="hidden" name="fbzx" value="410645699580576179"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="submit" id="ss-submit-question" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> <span data-i18n="buttons:send.label"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span data-dismiss="modal" data-i18n="buttons:close.label"></span></button>
                </div>
            </form>
        </div>
    </div>
</div>