<div id="disabled_priorities_modal" class="modal fade modal-wide">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" data-toggle="popover" data-i18n="[data-original-title]priorities.disabled_priorities.info">
          <i class="glyphicon glyphicon-search"></i>
          <span data-i18n="priorities.disabled_priorities.title">&nbsp;</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--
          <div class="clearfix">
            <div id="disabled_priorities_filters" class="form-group">               
              {{#disabled_priorities_filters}}
              <button type="button" class="btn btn-info btn-xs filter" data-filter=".{{.}}" data-i18n="priorities.disabled_priorities.disabled_priorities_filters.options.{{.}}"></button>
              {{/disabled_priorities_filters}}
            </div>           
          </div>
          -->
          <form id="disabled_priorities_form" class="sayt form-inline pull-right" role="form">
            <div class="form-group">
              <label class="control-label" data-i18n="priorities.disabled_priorities.disabled_priorities_filters.label"></label>
              <select id="disabled_priorities_filters" class="form-control input-sm">
                <option value="all">&nbsp;</option>
                {{#disabled_priorities_filters}}
                <option value=".{{.}}" data-i18n="priorities.disabled_priorities.disabled_priorities_filters.options.{{.}}"></option>
                {{/disabled_priorities_filters}}
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" data-i18n="priorities.disabled_priorities.disabled_priorities_form.disabled_priorities_layout.label"></label>
              <select id="disabled_priorities_layout" class="form-control input-sm">
                <option value="list" data-i18n="priorities.disabled_priorities.disabled_priorities_form.disabled_priorities_layout.options.list">&nbsp;</option>
                <option value="grid" data-i18n="priorities.disabled_priorities.disabled_priorities_form.disabled_priorities_layout.options.grid">&nbsp;</option>
              </select>
            </div>
          </form>
        </div>
        <div id="disabled_priorities_container" class="clearfix">
          <ul id="disabled_priorities" class="list-group sortable-priorities">
            {{#disabled_priorities}}
            <li id="{{id}}" class="list-group-item -col-md-6 mix {{filters}}" data-myorder="{{order}}" >
              <h4 class="list-group-item-heading" data-i18n="priorities.disabled_priorities.priorities.{{id}}.label"></h4>
              <p class="list-group-item-text" data-i18n="[html]priorities.disabled_priorities.priorities.{{id}}.info"></p>
            </li>
            {{/disabled_priorities}}  
          </ul>
          {{^disabled_priorities}}
          <div class="alert alert-warning">
            <h4>Warning!</h4>
            <p>No more criteria.</p>
          </div>
          {{/disabled_priorities}}
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <div class="btn-group btn-group-sm">
            <button type="button" id="enable_selected_priorities" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> <span data-dismiss="modal" data-i18n="priorities.disabled_priorities.disabled_priorities_form.enable_selection"></span></button>
            <button type="button" id="enable_all_priorities" class="btn btn-primary"><i class="glyphicon glyphicon-asterisk"></i> <span data-dismiss="modal" data-i18n="priorities.disabled_priorities.disabled_priorities_form.enable_all"></span></button>
            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> <span data-dismiss="modal" data-i18n="modal.close"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>