<div class="container">
  <div class="-panel -panel-default">
    <div class="-panel-content">
      <ol id="enabled_priorities" class="list-group list sortable-priorities">
      </ol>
    </div>
  </div>
  <div class="text-center">
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8495719252049968"
      data-ad-slot="3723415549"
      data-ad-format="auto"></ins>
  </div>   
  <ul class="pager hidden">
    <li class="previous -disabled"><a href="#home_pane" data-toggle="tab">← Home</a></li>
    <li class="next"><a href="#map_pane" data-toggle="tab">Map →</a></li>
  </ul>
 
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <ul class="nav navbar-nav navbar-right col-xs-12">
    <li class="col-xs-4 text-center">
      <a id="disable_all_priorities" class="btn -btn-default">
      <i class="glyphicon glyphicon-trash"></i><br />
      <span class="hidden-xs" data-i18n="priorities.enabled_priorities.enabled_priorities_form.disable_all"></span>
      </a>
    </li>
    <li class="col-xs-4 text-center">
      <a data-toggle="modal" href="#disabled_priorities_modal" class="btn -btn-primary">
      <i class="glyphicon glyphicon-plus"></i><br />
      <span class="hidden-xs" data-i18n="priorities.enabled_priorities.enabled_priorities_form.add"></span>
      </a>
    </li>
    <li class="col-xs-4 text-center">
      <a id="disable_selected_priorities" class="btn -btn-default">
      <i class="glyphicon glyphicon-minus"></i><br />
      <span class="hidden-xs" data-i18n="priorities.enabled_priorities.enabled_priorities_form.disable_selection"></span>
      </a>
    </li>
  </ul>
</div>