<div class="container">
  <!--
  <div class="clearfix">
    <h2 class="pull-left" data-toggle="popover" data-i18n="[data-original-title]user.location.info">
      <i class="glyphicon glyphicon-map-marker"></i>
      <span data-i18n="user.location.title"></span>
    </h2>
  </div>
  -->
  <!--
  <div class="row">
    <div class="col-md-6 -pull-left">
      <fieldset>
        <div class="form-group">
          <div class="checkbox">
            <label for="track" class="-checkbox control-label" data-toggle="tooltip" data-i18n="[data-original-title]user.location.track.info">
              <input id="track" type="checkbox" checked class="-form-control">
              <span data-i18n="user.location.track.label"></span>
            </label>
          </div>
        </div>
      </fieldset>
      <p data-i18n="user.location.or.label"></p> 
      <fieldset>
        <div class="form-group -button">
          <button id="geolocate" type="button" class="btn btn-primary btn-lg" data-i18n="user.location.geolocate.label"></button>
          <button id="simulate" type="button" class="btn btn-default btn-lg hidden" data-i18n="user.location.simulate.label"></button>
        </div>
      </fieldset>
      <p data-i18n="user.location.or.label"></p>     
      <form>
        <fieldset>
          <div class="form-group">
            <label for="user_address" class="control-label" data-toggle="tooltip" data-i18n="[data-original-title]user.location.user_address.info">
              <span data-i18n="user.location.user_address.label"></span>
            </label>
            <div class="input-group col-sm-12">
              <input id="user_address" class="form-control" type="text" placeholder="address, zipcode city, country">
            </div>
          </div> 
        </fieldset>        
      </form>    
    </div>
    <div class="col-md-6 -pull-right well">
      <form class="form-horizontal">
        <fieldset class="col-md-4">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="user.location.position.label"></legend>
          <div class="form-group">
            <label for="longitude" class="col-sm-6" data-i18n="user.location.position.longitude.label"></label>
            <div class="col-sm-6">
              <p id="longitude" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="latitude" class="col-sm-6" data-i18n="user.location.position.latitude.label"></label>
            <div class="col-sm-6">
              <p id="latitude" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="altitude"class="col-sm-6" data-i18n="user.location.position.altitude.label"></label>
            <div class="col-sm-6">
              <p id="altitude" class="form-control-static"></p>
            </div>
          </div>
        </fieldset>
        <fieldset class="col-md-4">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="user.location.mobility.label"></legend>
          <div class="form-group">
            <label for="speed" class="col-sm-6" data-i18n="user.location.mobility.speed.label"></label>
            <div class="col-sm-6">
              <p id="speed" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="heading" class="col-sm-6" data-i18n="user.location.orientation.heading.label"></label>
            <div class="col-sm-6">
              <p id="heading" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="delta" class="col-sm-6" data-i18n="user.location.mobility.delta.label"></label>
            <div class="col-sm-6">
              <p id="delta" class="form-control-static"></p>
            </div>
          </div>
        </fieldset>
        <fieldset class="col-md-4">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="user.location.orientation.label"></legend>
          <div class="form-group">
            <label for="alpha" class="col-sm-4" data-i18n="user.location.orientation.alpha.label"></label>
            <span id="alpha" class="col-sm-8"></span>
          </div>
          <div class="form-group">
            <label for="beta" class="col-sm-4" data-i18n="user.location.orientation.beta.label"></label>
            <span id="beta" class="col-sm-8"></span>
          </div>
          <div class="form-group">
            <label for="gamma" class="col-sm-4" data-i18n="user.location.orientation.gamma.label"></label>
            <span id="gamma" class="col-sm-8"></span>
          </div>
        </fieldset>
        <fieldset class="col-md-4">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="user.location.accuracy.label"></legend>
          <div class="form-group">
            <label for="accuracy"class="col-sm-6" data-i18n="user.location.accuracy.accuracy.label"></label>
            <div class="col-sm-6">
              <p id="accuracy" class="form-control-static"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="altitudeAccuracy" class="col-sm-6" data-i18n="user.location.accuracy.altitude_accuracy.label"></label>
            <div class="col-sm-6">
              <p id="altitudeAccuracy" class="form-control-static"></p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  -->
  <!--
  <div class="page-header clearfix" data-stellar-background-ratio="0.5">
    <h1 class="pull-left">
      <i class="glyphicon glyphicon-user"></i>
      <span data-i18n="user.profile.header.title"></span>&nbsp;
    </h1>
    <div class="btn-group pull-right">
      <a data-toggle="modal" href="#profile_modal" class="btn btn-primary">
        <i class="glyphicon glyphicon-new-window"></i>
        <span data-i18n="user.profile.edit_profile"></span>
      </a>
    </div>
  </div>
  -->
  <form id="profile_form" class="sayt" role="form">
    <div class="row">
      <div class="col-md-4">
        <fieldset class="form-horizontal -mix location">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.location.info">
            <span data-i18n="user.profile.location.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_country" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.location.user_country.info">
            <span data-i18n="user.profile.location.user_country.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_country" name="user_country" class="chosen-select sort form-control" -multiple data-i18n="[placeholder]user.profile.location.user_country.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-horizontal -mix legal">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.legal.info">
            <span data-i18n="user.profile.legal.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_citizenships" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.legal.user_citizenships.info">
            <span data-i18n="user.profile.legal.user_citizenships.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_citizenships" name="user_citizenships" class="chosen-select sort form-control" multiple data-i18n="[placeholder]user.profile.legal.user_citizenships.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-horizontal -mix communication">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.communication_ability.info">
            <span data-i18n="user.profile.communication_ability.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_speaking_languages" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.communication_ability.user_speaking_languages.info">
            <span data-i18n="user.profile.communication_ability.user_speaking_languages.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_speaking_languages" name="user_speaking_languages" class="chosen-select sort form-control" multiple data-i18n="[placeholder]user.profile.communication_ability.user_speaking_languages.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="user_reading_languages" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.communication_ability.user_reading_languages.info">
            <span data-i18n="user.profile.communication_ability.user_reading_languages.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_reading_languages" name="user_reading_languages" class="chosen-select sort form-control" multiple data-i18n="[placeholder]user.profile.communication_ability.user_reading_languages.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset class="form-horizontal -mix appliances">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.appliances.info">
            <span data-i18n="user.profile.appliances.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_plug_types" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.appliances.user_plug_types.info">
            <span data-i18n="user.profile.appliances.user_plug_types.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_plug_types" name="user_plug_types" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.appliances.user_plug_types.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="user_plug_voltages" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.appliances.user_plug_voltages.info">
            <span data-i18n="user.profile.appliances.user_plug_voltages.label"></span>
            </label>
            <div class="col-sm-8">
              <div class="input-group">
                <select id="user_plug_voltages" name="user_plug_voltages" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.appliances.user_plug_voltages.placeholder" >
                  <option value="" selected>Select...</option>
                </select>
                <span class="input-group-addon">V</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="user_plug_frequencies" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.appliances.user_plug_frequencies.info">
            <span data-i18n="user.profile.appliances.user_plug_frequencies.label"></span>
            </label>
            <div class="col-sm-8">
              <div class="input-group">
                <select id="user_plug_frequencies" name="user_plug_frequencies" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.appliances.user_plug_frequencies.placeholder" >
                  <option value="50">50</option>
                  <option value="60">60</option>
                </select>
                <span class="input-group-addon">Hz</span>
              </div>
            </div>
          </div>
          <div class="form-actions"></div>
        </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset class="form-horizontal -mix purchasing-power">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.purchasing-power.info">
            <span data-i18n="user.profile.purchasing-power.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_currencies" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.purchasing-power.user_currencies.info">
            <span data-i18n="user.profile.purchasing-power.user_currencies.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_currencies" name="user_currencies" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.purchasing-power.user_currencies.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="user_income_level" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.purchasing-power.user_income_level.info">
            <span data-i18n="user.profile.purchasing-power.user_income_level.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_income_level" name="user_income_level" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.purchasing-power.user_income_level.placeholder" >
                <option value="" selected>Select...</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-horizontal -mix habits">
          <legend>
            <span data-toggle="popover" data-placement="bottom" data-i18n="user.profile.habits.legend" data-i18n="[data-original-title]user.profile.habits.info"></span>
          </legend>
          <div class="form-group">
            <label for="user_driving_sides" class="control-label col-sm-4">
            <span data-i18n="user.profile.habits.user_driving_sides.label" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.habits.user_driving_sides.info"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_driving_sides" name="user_driving_sides" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.habits.user_driving_sides.placeholder" >
                <option value="right">Right</option>
                <option value="left">Left</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="user_measurement_system" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.habits.user_measurement_system.info" multiple>
            <span data-i18n="user.profile.habits.user_measurement_system.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_measurement_system" name="user_measurement_system" class="chosen-select form-control" multiple data-i18n="[placeholder]user.profile.habits.user_measurement_system.placeholder" >
                <option value="metric">Metric </option>
                <option value="imperial">Imperial</option>
                <option value="hybrid">Hybrid</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="user_first_day_of_week" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.habits.user_first_day_of_week.info">
            <span data-i18n="user.profile.habits.user_first_day_of_week.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_first_day_of_week" name="user_first_day_of_week" class="chosen-select form-control" data-i18n="[placeholder]user.profile.habits.user_first_day_of_week.placeholder" >
                <option value="mon">Monday</option>
                <option value="sun">Sunday</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-horizontal -mix culture">
          <legend data-toggle="tooltip" data-placement="bottom" data-i18n="[data-original-title]user.profile.culture.info">
            <span data-i18n="user.profile.culture.legend"></span>
          </legend>
          <div class="form-group">
            <label for="user_religion" class="control-label col-sm-4" data-toggle="tooltip" data-i18n="[data-original-title]user.profile.culture.user_religion.info">
            <span data-i18n="user.profile.culture.user_religion.label"></span>
            </label>
            <div class="col-sm-8">
              <select id="user_religion" name="user_religion" class="chosen-select sort form-control"  data-i18n="[placeholder]user.profile.culture.user_religion.placeholder" >
                <option>&nbsp;</option>
                <option value="christian">Christian</option>
                <option value="muslim">Muslim</option>
                <option value="hindu">Hindu</option>
                <option value="buddhist">Buddhist</option>
                <option value="jewish">Jewish</option>
                <option value="folk">Folk Religion</option>
                <option value="other">Other Religion</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="text-center">
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8495719252049968"
      data-ad-slot="3723415549"
      data-ad-format="auto"></ins>
  </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <ul class="nav navbar-nav col-xs-12">
    <li class="col-xs-12 text-center">
      <a data-toggle="modal" href="#profile_modal" class="btn -btn-primary">
      <i class="glyphicon glyphicon-new-window"></i><br />
      <span data-i18n="user.profile.edit_profile"></span>
      </a>
    </li>
  </ul>
</div>