<div class="navbar navbar-default navbar-fixed-top cbp-af-header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only" data-i18n="sections:toggle.link"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
            <span class="glyphicon glyphicon-globe"></span>
            {{site.title}} <sup class="text-danger">beta</sup>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="main-menu" class="nav navbar-nav navbar-right ">
                <li data-menuanchor="home_section" class="active">
                    <a class="toSlide" href="#home_pane" data-toggle="tab" aria-expanded="true"><span class="glyphicon glyphicon-home"></span> <span data-i18n="sections:home.link"></span></a>
                </li>
                <li data-menuanchor="map_section">
                    <a class="toSlide" href="#map_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> <span data-i18n="sections:map.link"></span></a>
                </li>
                <li data-menuanchor="settings" class="dropdown">
                    <a class="toSlide dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span data-i18n="sections:settings.link"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-menuanchor="user_profile_section">
                            <a class="toSlide" href="#user_profile_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span data-i18n="sections:profile.link"></span></a>
                        </li>
                        <li data-menuanchor="priorities_section">
                            <a class="toSlide" href="#priorities_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-heart"></span> <span data-i18n="sections:priorities.link"></span></a>
                        </li>
                        <li class="_hidden" data-menuanchor="map_settings_section">
                            <a class="toSlide" href="#map_settings_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> <span data-i18n="sections:map.link"></span></a>
                        </li>
                        <li class="_hidden" data-menuanchor="app_settings_section">
                            <a class="toSlide" href="#app_settings_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span data-i18n="sections:settings.link"></span></a>
                        </li>
                    </ul>
                </li>
                <li data-menuanchor="about" class="dropdown">
                    <a class="toSlide dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> <span data-i18n="sections:info.link"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-menuanchor="help_section">
                            <a class="toSlide" href="#help_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-question-sign"></span> <span data-i18n="sections:help.link"></span></a>
                        </li>
                        <li data-menuanchor="contribution_section">
                            <a class="toSlide" href="#contribution_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-piggy-bank"></span> <span data-i18n="sections:donation.link"></span></a>
                        </li>
                        <li class="hidden">
                            <a href="vendors/i18next/" target="_blank"><span class="glyphicon glyphicon-text-background"></span> <span data-i18n="sections:translation.link"></span></a>
                        </li>
                        <li data-menuanchor="contact_section">
                            <a class="toSlide" href="#about_pane" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-envelope"></span> <span data-i18n="sections:contact.link"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>