
/* Map --------------------------------------------------------------------- */

@media (orientation:landscape) {
[data-anchor="home"] .header{
-webkit-animation: map-landscape 120s ease 0s infinite reverse;
animation: map-landscape 120s ease 0s infinite reverse;
}
}
@media (orientation:portrait) {
[data-anchor="home"] .header{
-webkit-animation: map-portrait 120s ease 0s infinite reverse;
animation: map-portrait 120s ease 0s infinite reverse;
}
}

@-webkit-keyframes map-landscape {
from {background-size:100% auto;background-position:0 0;}
10% {background-size:600% auto;background-position:5% 40%;}
20% {background-size:300% auto;background-position:10% 55%;}
30% {background-size:600% auto;background-position:15% 70%;}
40% {background-size:300% auto;background-position:37% 75%;}
50% {background-size:600% auto;background-position:45% 80%;}
60% {background-size:300% auto;background-position:52% 75%;}
70% {background-size:600% auto;background-position:60% 70%;}
80% {background-size:300% auto;background-position:75% 60%;}
90% {background-size:600% auto;background-position:90% 50%;}
to {background-size:100% auto;background-position:0 0;}
}
@keyframes map-landscape {
from {background-size:100% auto;background-position:0 0;}
10% {background-size:600% auto;background-position:5% 40%;}
20% {background-size:300% auto;background-position:10% 55%;}
30% {background-size:600% auto;background-position:15% 70%;}
40% {background-size:300% auto;background-position:37% 75%;}
50% {background-size:600% auto;background-position:45% 80%;}
60% {background-size:300% auto;background-position:52% 75%;}
70% {background-size:600% auto;background-position:60% 70%;}
80% {background-size:300% auto;background-position:75% 60%;}
90% {background-size:600% auto;background-position:90% 50%;}
to {background-size:100% auto;background-position:0 0;}
}
@-webkit-keyframes map-portrait {
from {background-size:auto 100%;background-position:0 0;}
10% {background-size:auto 600%;background-position:5% 40%;}
20% {background-size:auto 300%;background-position:10% 55%;}
30% {background-size:auto 600%;background-position:15% 70%;}
40% {background-size:auto 300%;background-position:37% 75%;}
50% {background-size:auto 600%;background-position:45% 80%;}
60% {background-size:auto 300%;background-position:52% 75%;}
70% {background-size:auto 600%;background-position:60% 70%;}
80% {background-size:auto 300%;background-position:75% 60%;}
90% {background-size:auto 600%;background-position:90% 50%;}
to {background-size:auto 100%;background-position:0 0;}
}
@keyframes map-portrait {
from {background-size:auto 100%;background-position:0 0;}
10% {background-size:auto 600%;background-position:5% 40%;}
20% {background-size:auto 300%;background-position:10% 55%;}
30% {background-size:auto 600%;background-position:15% 70%;}
40% {background-size:auto 300%;background-position:37% 75%;}
50% {background-size:auto 600%;background-position:45% 80%;}
60% {background-size:auto 300%;background-position:52% 75%;}
70% {background-size:auto 600%;background-position:60% 70%;}
80% {background-size:auto 300%;background-position:75% 60%;}
90% {background-size:auto 600%;background-position:90% 50%;}
to {background-size:auto 100%;background-position:0 0;}
}

/* ------------------------------------------------------------------------- */
