
.background-fr-v:before,
.background-FRA-v:before {
background-image: url(http://mrg.bz/x0Vx2J);
}

.background-es-v:before,
.background-ESP-v:before {
background-image: url(http://mrg.bz/1dNDGs);
}

.background-us-v:before,
.background-USA-v:before {
background-image: url(http://mrg.bz/WoGeRB);
}

.background-cn-v:before,
.background-CHN-v:before {
background-image: url(http://mrg.bz/tAmFQe);
}

/* ---------------------------------------------------------------------------------------------- */

/* Afghanistan */
.flag-bg.AFG-flag:before,
.flag-bg.afg-flag:before {
background-image: url(../images/flags/afg.svg);
}

/* Angola */
.flag-bg.AGO-flag:before,
.flag-bg.ago-flag:before {
background-image: url(../images/flags/ago.svg);
}

/* Albania */
.flag-bg.ALB-flag:before,
.flag-bg.alb-flag:before {
background-image: url(../images/flags/alb.svg);
}

/* United Arab Emirates */
.flag-bg.ARE-flag:before,
.flag-bg.are-flag:before {
background-image: url(../images/flags/are.svg);
}

/* Argentina */
.flag-bg.ARG-flag:before,
.flag-bg.arg-flag:before {
background-image: url(../images/flags/arg.svg);
}

/* Armenia */
.flag-bg.ARM-flag:before,
.flag-bg.arm-flag:before {
background-image: url(../images/flags/arm.svg);
}

/* Antarctica */
.flag-bg.ATA-flag:before,
.flag-bg.ata-flag:before {
background-image: url(../images/flags/ata.svg);
}

/* French Southern and Antarctic Lands */
.flag-bg.ATF-flag:before,
.flag-bg.atf-flag:before {
background-image: url(../images/flags/atf.svg);
}

/* Australia */
.flag-bg.AUS-flag:before,
.flag-bg.aus-flag:before {
background-image: url(../images/flags/aus.svg);
}

/* Austria */
.flag-bg.AUT-flag:before,
.flag-bg.aut-flag:before {
background-image: url(../images/flags/aut.svg);
}

/* Azerbaijan */
.flag-bg.AZE-flag:before,
.flag-bg.aze-flag:before {
background-image: url(../images/flags/aze.svg);
}

/* Burundi */
.flag-bg.BDI-flag:before,
.flag-bg.bdi-flag:before {
background-image: url(../images/flags/bdi.svg);
}

/* Belgium */
.flag-bg.BEL-flag:before,
.flag-bg.bel-flag:before {
background-image: url(../images/flags/bel.svg);
}

/* Benin */
.flag-bg.BEN-flag:before,
.flag-bg.ben-flag:before {
background-image: url(../images/flags/ben.svg);
}

/* Burkina Faso */
.flag-bg.BFA-flag:before,
.flag-bg.bfa-flag:before {
background-image: url(../images/flags/bfa.svg);
}

/* Bangladesh */
.flag-bg.BGD-flag:before,
.flag-bg.bgd-flag:before {
background-image: url(../images/flags/bgd.svg);
}

/* Bulgaria */
.flag-bg.BGR-flag:before,
.flag-bg.bgr-flag:before {
background-image: url(../images/flags/bgr.svg);
}

/* The Bahamas */
.flag-bg.BHS-flag:before,
.flag-bg.bhs-flag:before {
background-image: url(../images/flags/bhs.svg);
}

/* Bosnia and Herzegovina */
.flag-bg.BIH-flag:before,
.flag-bg.bih-flag:before {
background-image: url(../images/flags/bih.svg);
}

/* Belarus */
.flag-bg.BLR-flag:before,
.flag-bg.blr-flag:before {
background-image: url(../images/flags/blr.svg);
}

/* Belize */
.flag-bg.BLZ-flag:before,
.flag-bg.blz-flag:before {
background-image: url(../images/flags/blz.svg);
}

/* Bermuda */
.flag-bg.BMU-flag:before,
.flag-bg.bmu-flag:before {
background-image: url(../images/flags/bmu.svg);
}

/* Bolivia */
.flag-bg.BOL-flag:before,
.flag-bg.bol-flag:before {
background-image: url(../images/flags/bol.svg);
}

/* Brazil */
.flag-bg.BRA-flag:before,
.flag-bg.bra-flag:before {
background-image: url(../images/flags/bra.svg);
}

/* Brunei */
.flag-bg.BRN-flag:before,
.flag-bg.brn-flag:before {
background-image: url(../images/flags/brn.svg);
}

/* Bhutan */
.flag-bg.BTN-flag:before,
.flag-bg.btn-flag:before {
background-image: url(../images/flags/btn.svg);
}

/* Botswana */
.flag-bg.BWA-flag:before,
.flag-bg.bwa-flag:before {
background-image: url(../images/flags/bwa.svg);
}

/* Central African Republic */
.flag-bg.CAF-flag:before,
.flag-bg.caf-flag:before {
background-image: url(../images/flags/caf.svg);
}

/* Canada */
.flag-bg.CAN-flag:before,
.flag-bg.can-flag:before {
background-image: url(../images/flags/can.svg);
}

/* Switzerland */
.flag-bg.CHE-flag:before,
.flag-bg.che-flag:before {
background-image: url(../images/flags/che.svg);
}

/* Chile */
.flag-bg.CHL-flag:before,
.flag-bg.chl-flag:before {
background-image: url(../images/flags/chl.svg);
}

/* China */
.flag-bg.CHN-flag:before,
.flag-bg.chn-flag:before {
background-image: url(../images/flags/chn.svg);
}

/* Ivory Coast */
.flag-bg.CIV-flag:before,
.flag-bg.civ-flag:before {
background-image: url(../images/flags/civ.svg);
}

/* Cameroon */
.flag-bg.CMR-flag:before,
.flag-bg.cmr-flag:before {
background-image: url(../images/flags/cmr.svg);
}

/* Democratic Republic of the Congo */
.flag-bg.COD-flag:before,
.flag-bg.cod-flag:before {
background-image: url(../images/flags/cod.svg);
}

/* Republic of the Congo */
.flag-bg.COG-flag:before,
.flag-bg.cog-flag:before {
background-image: url(../images/flags/cog.svg);
}

/* Colombia */
.flag-bg.COL-flag:before,
.flag-bg.col-flag:before {
background-image: url(../images/flags/col.svg);
}

/* Costa Rica */
.flag-bg.CRI-flag:before,
.flag-bg.cri-flag:before {
background-image: url(../images/flags/cri.svg);
}

/* Cuba */
.flag-bg.CUB-flag:before,
.flag-bg.cub-flag:before {
background-image: url(../images/flags/cub.svg);
}

/* Northern Cyprus */
.flag-bg.TRNC-flag:before,
.flag-bg.trnc-flag:before {
background-image: url(../images/country-flags.svg#trnc);
}

/* Cyprus */
.flag-bg.CYP-flag:before,
.flag-bg.cyp-flag:before {
background-image: url(../images/flags/cyp.svg);
}

/* Czech Republic */
.flag-bg.CZE-flag:before,
.flag-bg.cze-flag:before {
background-image: url(../images/flags/cze.svg);
}

/* Germany */
.flag-bg.DEU-flag:before,
.flag-bg.deu-flag:before {
background-image: url(../images/flags/deu.svg);
}

/* Djibouti */
.flag-bg.DJI-flag:before,
.flag-bg.dji-flag:before {
background-image: url(../images/flags/dji.svg);
}

/* Denmark */
.flag-bg.DNK-flag:before,
.flag-bg.dnk-flag:before {
background-image: url(../images/flags/dnk.svg);
}

/* Dominican Republic */
.flag-bg.DOM-flag:before,
.flag-bg.dom-flag:before {
background-image: url(../images/flags/dom.svg);
}

/* Algeria */
.flag-bg.DZA-flag:before,
.flag-bg.dza-flag:before {
background-image: url(../images/flags/dza.svg);
}

/* Ecuador */
.flag-bg.ECU-flag:before,
.flag-bg.ecu-flag:before {
background-image: url(../images/flags/ecu.svg);
}

/* Egypt */
.flag-bg.EGY-flag:before,
.flag-bg.egy-flag:before {
background-image: url(../images/flags/egy.svg);
}

/* Eritrea */
.flag-bg.ERI-flag:before,
.flag-bg.eri-flag:before {
background-image: url(../images/flags/eri.svg);
}

/* Spain */
.flag-bg.ESP-flag:before,
.flag-bg.esp-flag:before {
background-image: url(../images/flags/esp.svg);
}

/* Estonia */
.flag-bg.EST-flag:before,
.flag-bg.est-flag:before {
background-image: url(../images/flags/est.svg);
}

/* Ethiopia */
.flag-bg.ETH-flag:before,
.flag-bg.eth-flag:before {
background-image: url(../images/flags/eth.svg);
}

/* Finland */
.flag-bg.FIN-flag:before,
.flag-bg.fin-flag:before {
background-image: url(../images/flags/fin.svg);
}

/* Fiji */
.flag-bg.FJI-flag:before,
.flag-bg.fji-flag:before {
background-image: url(../images/flags/fji.svg);
}

/* Falkland Islands */
.flag-bg.FLK-flag:before,
.flag-bg.flk-flag:before {
background-image: url(../images/flags/flk.svg);
}

/* France */
.flag-bg.FRA-flag:before,
.flag-bg.fra-flag:before {
background-image: url(../images/flags/fra.svg);
}

/* Gabon */
.flag-bg.GAB-flag:before,
.flag-bg.gab-flag:before {
background-image: url(../images/flags/gab.svg);
}

/* United Kingdom */
.flag-bg.GBR-flag:before,
.flag-bg.gbr-flag:before {
background-image: url(../images/flags/gbr.svg);
}

/* Georgia */
.flag-bg.GEO-flag:before,
.flag-bg.geo-flag:before {
background-image: url(../images/flags/geo.svg);
}

/* Ghana */
.flag-bg.GHA-flag:before,
.flag-bg.gha-flag:before {
background-image: url(../images/flags/gha.svg);
}

/* Guinea */
.flag-bg.GIN-flag:before,
.flag-bg.gin-flag:before {
background-image: url(../images/flags/gin.svg);
}

/* Gambia */
.flag-bg.GMB-flag:before,
.flag-bg.gmb-flag:before {
background-image: url(../images/flags/gmb.svg);
}

/* Guinea Bissau */
.flag-bg.GNB-flag:before,
.flag-bg.gnb-flag:before {
background-image: url(../images/flags/gnb.svg);
}

/* Equatorial Guinea */
.flag-bg.GNQ-flag:before,
.flag-bg.gnq-flag:before {
background-image: url(../images/flags/gnq.svg);
}

/* Greece */
.flag-bg.GRC-flag:before,
.flag-bg.grc-flag:before {
background-image: url(../images/flags/grc.svg);
}

/* Greenland */
.flag-bg.GRL-flag:before,
.flag-bg.grl-flag:before {
background-image: url(../images/flags/grl.svg);
}

/* Guatemala */
.flag-bg.GTM-flag:before,
.flag-bg.gtm-flag:before {
background-image: url(../images/flags/gtm.svg);
}

/* French Guiana */
.flag-bg.GUF-flag:before,
.flag-bg.guf-flag:before {
background-image: url(../images/flags/guf.svg);
}

/* Guyana */
.flag-bg.GUY-flag:before,
.flag-bg.guy-flag:before {
background-image: url(../images/flags/guy.svg);
}

/* Honduras */
.flag-bg.HND-flag:before,
.flag-bg.hnd-flag:before {
background-image: url(../images/flags/hnd.svg);
}

/* Croatia */
.flag-bg.HRV-flag:before,
.flag-bg.hrv-flag:before {
background-image: url(../images/flags/hrv.svg);
}

/* Haiti */
.flag-bg.HTI-flag:before,
.flag-bg.hti-flag:before {
background-image: url(../images/flags/hti.svg);
}

/* Hungary */
.flag-bg.HUN-flag:before,
.flag-bg.hun-flag:before {
background-image: url(../images/flags/hun.svg);
}

/* Indonesia */
.flag-bg.IDN-flag:before,
.flag-bg.idn-flag:before {
background-image: url(../images/flags/idn.svg);
}

/* India */
.flag-bg.IND-flag:before,
.flag-bg.ind-flag:before {
background-image: url(../images/flags/ind.svg);
}

/* Ireland */
.flag-bg.IRL-flag:before,
.flag-bg.irl-flag:before {
background-image: url(../images/flags/irl.svg);
}

/* Iran */
.flag-bg.IRN-flag:before,
.flag-bg.irn-flag:before {
background-image: url(../images/flags/irn.svg);
}

/* Iraq */
.flag-bg.IRQ-flag:before,
.flag-bg.irq-flag:before {
background-image: url(../images/flags/irq.svg);
}

/* Iceland */
.flag-bg.ISL-flag:before,
.flag-bg.isl-flag:before {
background-image: url(../images/flags/isl.svg);
}

/* Israel */
.flag-bg.ISR-flag:before,
.flag-bg.isr-flag:before {
background-image: url(../images/flags/isr.svg);
}

/* Italy */
.flag-bg.ITA-flag:before,
.flag-bg.ita-flag:before {
background-image: url(../images/flags/ita.svg);
}

/* Jamaica */
.flag-bg.JAM-flag:before,
.flag-bg.jam-flag:before {
background-image: url(../images/flags/jam.svg);
}

/* Jordan */
.flag-bg.JOR-flag:before,
.flag-bg.jor-flag:before {
background-image: url(../images/flags/jor.svg);
}

/* Japan */
.flag-bg.JPN-flag:before,
.flag-bg.jpn-flag:before {
background-image: url(../images/flags/jpn.svg);
}

/* Kazakhstan */
.flag-bg.KAZ-flag:before,
.flag-bg.kaz-flag:before {
background-image: url(../images/flags/kaz.svg);
}

/* Kenya */
.flag-bg.KEN-flag:before,
.flag-bg.ken-flag:before {
background-image: url(../images/flags/ken.svg);
}

/* Kyrgyzstan */
.flag-bg.KGZ-flag:before,
.flag-bg.kgz-flag:before {
background-image: url(../images/flags/kgz.svg);
}

/* Cambodia */
.flag-bg.KHM-flag:before,
.flag-bg.khm-flag:before {
background-image: url(../images/flags/khm.svg);
}

/* South Korea */
.flag-bg.KOR-flag:before,
.flag-bg.kor-flag:before {
background-image: url(../images/flags/kor.svg);
}

/* Kosovo CS-KM; */
.flag-bg.KOS-flag:before,
.flag-bg.kos-flag:before {
background-image: url(../images/flags/kos.svg);
}

/* Kuwait */
.flag-bg.KWT-flag:before,
.flag-bg.kwt-flag:before {
background-image: url(../images/flags/kwt.svg);
}

/* Laos */
.flag-bg.LAO-flag:before,
.flag-bg.lao-flag:before {
background-image: url(../images/flags/lao.svg);
}

/* Lebanon */
.flag-bg.LBN-flag:before,
.flag-bg.lbn-flag:before {
background-image: url(../images/flags/lbn.svg);
}

/* Liberia */
.flag-bg.LBR-flag:before,
.flag-bg.lbr-flag:before {
background-image: url(../images/flags/lbr.svg);
}

/* Libya */
.flag-bg.LBY-flag:before,
.flag-bg.lby-flag:before {
background-image: url(../images/flags/lby.svg);
}

/* Sri Lanka */
.flag-bg.LKA-flag:before,
.flag-bg.lka-flag:before {
background-image: url(../images/flags/lka.svg);
}

/* Lesotho */
.flag-bg.LSO-flag:before,
.flag-bg.lso-flag:before {
background-image: url(../images/flags/lso.svg);
}

/* Lithuania */
.flag-bg.LTU-flag:before,
.flag-bg.ltu-flag:before {
background-image: url(../images/flags/ltu.svg);
}

/* Luxembourg */
.flag-bg.LUX-flag:before,
.flag-bg.lux-flag:before {
background-image: url(../images/flags/lux.svg);
}

/* Latvia */
.flag-bg.LVA-flag:before,
.flag-bg.lva-flag:before {
background-image: url(../images/flags/lva.svg);
}

/* Morocco */
.flag-bg.MAR-flag:before,
.flag-bg.mar-flag:before {
background-image: url(../images/flags/mar.svg);
}

/* Moldova */
.flag-bg.MDA-flag:before,
.flag-bg.mda-flag:before {
background-image: url(../images/flags/mda.svg);
}

/* Madagascar */
.flag-bg.MDG-flag:before,
.flag-bg.mdg-flag:before {
background-image: url(../images/flags/mdg.svg);
}

/* Mexico */
.flag-bg.MEX-flag:before,
.flag-bg.mex-flag:before {
background-image: url(../images/flags/mex.svg);
}

/* Macedonia */
.flag-bg.MKD-flag:before,
.flag-bg.mkd-flag:before {
background-image: url(../images/flags/mkd.svg);
}

/* Mali */
.flag-bg.MLI-flag:before,
.flag-bg.mli-flag:before {
background-image: url(../images/flags/mli.svg);
}

/* Myanmar */
.flag-bg.MMR-flag:before,
.flag-bg.mmr-flag:before {
background-image: url(../images/flags/mmr.svg);
}

/* Montenegro */
.flag-bg.MNE-flag:before,
.flag-bg.mne-flag:before {
background-image: url(../images/flags/mne.svg);
}

/* Mongolia */
.flag-bg.MNG-flag:before,
.flag-bg.mng-flag:before {
background-image: url(../images/flags/mng.svg);
}

/* Mozambique */
.flag-bg.MOZ-flag:before,
.flag-bg.moz-flag:before {
background-image: url(../images/flags/moz.svg);
}

/* Mauritania */
.flag-bg.MRT-flag:before,
.flag-bg.mrt-flag:before {
background-image: url(../images/flags/mrt.svg);
}

/* Malawi */
.flag-bg.MWI-flag:before,
.flag-bg.mwi-flag:before {
background-image: url(../images/flags/mwi.svg);
}

/* Malaysia */
.flag-bg.MYS-flag:before,
.flag-bg.mys-flag:before {
background-image: url(../images/flags/mys.svg);
}

/* Namibia */
.flag-bg.NAM-flag:before,
.flag-bg.nam-flag:before {
background-image: url(../images/flags/nam.svg);
}

/* New Caledonia */
.flag-bg.NCL-flag:before,
.flag-bg.ncl-flag:before {
background-image: url(../images/flags/ncl.svg);
}

/* Niger */
.flag-bg.NER-flag:before,
.flag-bg.ner-flag:before {
background-image: url(../images/flags/ner.svg);
}

/* Nigeria */
.flag-bg.NGA-flag:before,
.flag-bg.nga-flag:before {
background-image: url(../images/flags/nga.svg);
}

/* Nicaragua */
.flag-bg.NIC-flag:before,
.flag-bg.nic-flag:before {
background-image: url(../images/flags/nic.svg);
}

/* Netherlands */
.flag-bg.NLD-flag:before,
.flag-bg.nld-flag:before {
background-image: url(../images/flags/nld.svg);
}

/* Norway */
.flag-bg.NOR-flag:before,
.flag-bg.nor-flag:before {
background-image: url(../images/flags/nor.svg);
}

/* Nepal */
.flag-bg.NPL-flag:before,
.flag-bg.npl-flag:before {
background-image: url(../images/flags/npl.svg);
}

/* New Zealand */
.flag-bg.NZL-flag:before,
.flag-bg.nzl-flag:before {
background-image: url(../images/flags/nzl.svg);
}

/* Oman */
.flag-bg.OMN-flag:before,
.flag-bg.omn-flag:before {
background-image: url(../images/flags/omn.svg);
}

/* Pakistan */
.flag-bg.PAK-flag:before,
.flag-bg.pak-flag:before {
background-image: url(../images/flags/pak.svg);
}

/* Panama */
.flag-bg.PAN-flag:before,
.flag-bg.pan-flag:before {
background-image: url(../images/flags/pan.svg);
}

/* Peru */
.flag-bg.PER-flag:before,
.flag-bg.per-flag:before {
background-image: url(../images/flags/per.svg);
}

/* Philippines */
.flag-bg.PHL-flag:before,
.flag-bg.phl-flag:before {
background-image: url(../images/flags/phl.svg);
}

/* Papua New Guinea */
.flag-bg.PNG-flag:before,
.flag-bg.png-flag:before {
background-image: url(../images/flags/png.svg);
}

/* Poland */
.flag-bg.POL-flag:before,
.flag-bg.pol-flag:before {
background-image: url(../images/flags/pol.svg);
}

/* Puerto Rico */
.flag-bg.PRI-flag:before,
.flag-bg.pri-flag:before {
background-image: url(../images/flags/pri.svg);
}

/* North Korea */
.flag-bg.PRK-flag:before,
.flag-bg.prk-flag:before {
background-image: url(../images/flags/prk.svg);
}

/* Portugal */
.flag-bg.PRT-flag:before,
.flag-bg.prt-flag:before {
background-image: url(../images/flags/prt.svg);
}

/* Paraguay */
.flag-bg.PRY-flag:before,
.flag-bg.pry-flag:before {
background-image: url(../images/flags/pry.svg);
}

/* Qatar */
.flag-bg.QAT-flag:before,
.flag-bg.qat-flag:before {
background-image: url(../images/flags/qat.svg);
}

/* Romania */
.flag-bg.ROU-flag:before,
.flag-bg.rou-flag:before {
background-image: url(../images/flags/rou.svg);
}

/* Russia */
.flag-bg.RUS-flag:before,
.flag-bg.rus-flag:before {
background-image: url(../images/flags/rus.svg);
}

/* Rwanda */
.flag-bg.RWA-flag:before,
.flag-bg.rwa-flag:before {
background-image: url(../images/flags/rwa.svg);
}

/* Western Sahara */
.flag-bg.ESH-flag:before,
.flag-bg.esh-flag:before {
background-image: url(../images/flags/esh.svg);
}

/* Saudi Arabia */
.flag-bg.SAU-flag:before,
.flag-bg.sau-flag:before {
background-image: url(../images/flags/sau.svg);
}

/* Sudan */
.flag-bg.SDN-flag:before,
.flag-bg.sdn-flag:before {
background-image: url(../images/flags/sdn.svg);
}

/* South Sudan */
.flag-bg.SDS-flag:before,
.flag-bg.sds-flag:before {
background-image: url(../images/flags/sds.svg);
}

/* Senegal */
.flag-bg.SEN-flag:before,
.flag-bg.sen-flag:before {
background-image: url(../images/flags/sen.svg);
}

/* Solomon Islands */
.flag-bg.SLB-flag:before,
.flag-bg.slb-flag:before {
background-image: url(../images/flags/slb.svg);
}

/* Sierra Leone */
.flag-bg.SLE-flag:before,
.flag-bg.sle-flag:before {
background-image: url(../images/flags/sle.svg);
}

/* El Salvador */
.flag-bg.SLV-flag:before,
.flag-bg.slv-flag:before {
background-image: url(../images/flags/slv.svg);
}

/* Somaliland */
.flag-bg.SOL-flag:before,
.flag-bg.sol-flag:before {
background-image: url(../images/flags/sol.svg);
}

/* Somalia */
.flag-bg.SOM-flag:before,
.flag-bg.som-flag:before {
background-image: url(../images/flags/som.svg);
}

/* Republic of Serbia */
.flag-bg.SRB-flag:before,
.flag-bg.srb-flag:before {
background-image: url(../images/flags/srb.svg);
}

/* Suriname */
.flag-bg.SUR-flag:before,
.flag-bg.sur-flag:before {
background-image: url(../images/flags/sur.svg);
}

/* Slovakia */
.flag-bg.SVK-flag:before,
.flag-bg.svk-flag:before {
background-image: url(../images/flags/svk.svg);
}

/* Slovenia */
.flag-bg.SVN-flag:before,
.flag-bg.svn-flag:before {
background-image: url(../images/flags/svn.svg);
}

/* Sweden */
.flag-bg.SWE-flag:before,
.flag-bg.swe-flag:before {
background-image: url(../images/flags/swe.svg);
}

/* Swaziland */
.flag-bg.SWZ-flag:before,
.flag-bg.swz-flag:before {
background-image: url(../images/flags/swz.svg);
}

/* Syria */
.flag-bg.SYR-flag:before,
.flag-bg.syr-flag:before {
background-image: url(../images/flags/syr.svg);
}

/* Chad */
.flag-bg.TCD-flag:before,
.flag-bg.tcd-flag:before {
background-image: url(../images/flags/tcd.svg);
}

/* Togo */
.flag-bg.TGO-flag:before,
.flag-bg.tgo-flag:before {
background-image: url(../images/flags/tgo.svg);
}

/* Thailand */
.flag-bg.THA-flag:before,
.flag-bg.tha-flag:before {
background-image: url(../images/flags/tha.svg);
}

/* Tajikistan */
.flag-bg.TJK-flag:before,
.flag-bg.tjk-flag:before {
background-image: url(../images/flags/tjk.svg);
}

/* Turkmenistan */
.flag-bg.TKM-flag:before,
.flag-bg.tkm-flag:before {
background-image: url(../images/flags/tkm.svg);
}

/* East Timor */
.flag-bg.TLS-flag:before,
.flag-bg.tls-flag:before {
background-image: url(../images/flags/tls.svg);
}

/* Trinidad and Tobago */
.flag-bg.TTO-flag:before,
.flag-bg.tto-flag:before {
background-image: url(../images/flags/tto.svg);
}

/* Tunisia */
.flag-bg.TUN-flag:before,
.flag-bg.tun-flag:before {
background-image: url(../images/flags/tun.svg);
}

/* Turkey */
.flag-bg.TUR-flag:before,
.flag-bg.tur-flag:before {
background-image: url(../images/flags/tur.svg);
}

/* Taiwan */
.flag-bg.TWN-flag:before,
.flag-bg.twn-flag:before {
background-image: url(../images/flags/twn.svg);
}

/* United Republic of Tanzania */
.flag-bg.TZA-flag:before,
.flag-bg.tza-flag:before {
background-image: url(../images/flags/tza.svg);
}

/* Uganda */
.flag-bg.UGA-flag:before,
.flag-bg.uga-flag:before {
background-image: url(../images/flags/uga.svg);
}

/* Ukraine */
.flag-bg.UKR-flag:before,
.flag-bg.ukr-flag:before {
background-image: url(../images/flags/ukr.svg);
}

/* Uruguay */
.flag-bg.URY-flag:before,
.flag-bg.ury-flag:before {
background-image: url(../images/flags/ury.svg);
}

/* United States of America */
.flag-bg.USA-flag:before,
.flag-bg.usa-flag:before {
background-image: url(../images/flags/usa.svg);
}

/* Uzbekistan */
.flag-bg.UZB-flag:before,
.flag-bg.uzb-flag:before {
background-image: url(../images/flags/uzb.svg);
}

/* Venezuela */
.flag-bg.VEN-flag:before,
.flag-bg.ven-flag:before {
background-image: url(../images/flags/ven.svg);
}

/* Vietnam */
.flag-bg.VNM-flag:before,
.flag-bg.vnm-flag:before {
background-image: url(../images/flags/vnm.svg);
}

/* Vanuatu */
.flag-bg.VUT-flag:before,
.flag-bg.vut-flag:before {
background-image: url(../images/flags/vut.svg);
}

/* West Bank */
.flag-bg.PSE-flag:before,
.flag-bg.pse-flag:before {
background-image: url(../images/flags/pse.svg);
}

/* Yemen */
.flag-bg.YEM-flag:before,
.flag-bg.yem-flag:before {
background-image: url(../images/flags/yem.svg);
}

/* South Africa */
.flag-bg.ZAF-flag:before,
.flag-bg.zaf-flag:before {
background-image: url(../images/flags/zaf.svg);
}

/* Zambia */
.flag-bg.ZMB-flag:before,
.flag-bg.zmb-flag:before {
background-image: url(../images/flags/zmb.svg);
}

/* Zimbabwe */
.flag-bg.ZWE-flag:before,
.flag-bg.zwe-flag:before {
background-image: url(../images/flags/zwe.svg);
}

